/*16. qrest-error-page-section */

.qrest-error-page-section {
    text-align: center;


    .error-message {
        margin-top: 70px;
        padding: 0 200px;
    }

    @media (max-width: 991px) {
        .error-message {
            margin-top: 50px;
            padding: 0 100px;
        }
    }

    @media (max-width: 767px) {
        .error-message {
            padding: 0;
        }
    }

    .error-message h3 {
        font-size: 30px;
        font-size: 2rem;
        margin: 0 0 0.8em;
        color: $heading-color;
    }

    .error-message p {
        margin-bottom: 1.8em;
        color: $text-light-color;
    }
}