/* 7. Home-style-4 */


/*7.1 qrest-about-section-s4 */
.qrest-about-section-s4 {
    .qrest-section-title-s4 {
        text-align: left;
    }

    .about-left-content {
        .text {
            width: 385px;
            height: 70px;
            border-radius: 0;
            border: 3px dashed transparent;
            bottom: auto;
            top: 150px;
            right: -108px;
            transform: rotate(270deg);
            display: block;

            @media (max-width:399px) {
                display: none;
            }

            @media (max-width:575px) {
                top: 201px;
                right: -159px;
            }

            .info {
                padding-left: 0px;
                padding-top: 15px;
                width: 100%;
                height: 100%;
                border-radius: 0;
                text-align: center;
                background: $theme-primary-color-s4;

                h3 {
                    display: inline;
                    font-size: 22px;
                    font-weight: 600;
                }

                p {
                    display: inline;
                    font-size: 22px;
                    font-weight: 500;
                    font-family: $heading-font;

                }
            }
        }

        .shape {
            position: absolute;
            left: -10px;
            bottom: -56px;
            width: 10px;
            height: 95px;
            background: $theme-primary-color-s4;
            z-index: -1;
        }
    }

    .progras {
        display: flex;

        @media (max-width:575px) {
            display: block;
        }
    }
    .qrest-section-title-s4 h2{
        margin-right: 50px;
        @media (max-width:1199px) {
           margin-right: 0; 
        }
    }
    .about-right-item {

        margin-right: 0px;
        width: 50%;

        @media (max-width:575px) {
            width: 100%;
        }
        &:hover {
            .icon {
                background: $theme-primary-color-s4;
                color: $white;
            }
        }
        
        .icon {
            color: $theme-primary-color-s4;
        }
        .text {
            margin-right: 0;

            h4 {
                @media (max-width:1199px) {
                    font-size: 16px;
                }
            }
        }

    }

    ul {
        list-style: none;
        margin-bottom: 50px;

        li {
            padding-left: 30px;
            position: relative;
            font-size: 17px;
            font-family: $heading-font;
            line-height: 1.588;
            color: #636363;
            margin-bottom: 13px;
            

            &::before {
                content: "\eed8";
                font-family: IcoFont !important;
                width: 20px;
                height: 20px;
                top: 3px;
                line-height: 22px;
                border-radius: 100%;
                color: $white;
                text-align: center;
                background: $heading-color;
                left: 0;
                position: absolute;
            }

            &:first-child {
                &::before {
                    background: $theme-primary-color-s4;
                }
            }
        }
    }

    .about-bottom {
        display: flex;
        align-items: center;

    }

    .video-btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: $theme-primary-color-s2;
        border-radius: 50%;
        margin-left: 60px;
        position: relative;


        &:before {
            position: absolute;
            left: -8px;
            top: -9px;
            width: 140%;
            height: 140%;
            background: rgb(59, 81, 125);
            content: "";
            border-radius: 50%;
            z-index: -1;
            -webkit-animation: spineer 2s infinite;
            animation: spineer 2s infinite;
        }

        i {
            font-size: 15px;
            color: $white;
        }
    }

    .about-left-content {
        @media (max-width:575px) {
            margin-bottom: 0;
        }

        .shape {
            @media (max-width:575px) {
                display: none;
            }
        }
    }

    .about-left-content .about-img {
        @media (max-width:757px) {
            max-width: 100%;
            max-height: 100%;
        }

        img {
            width: 100%;
        }
    }

    .about-left-content .about-img-1 {
        @media (max-width:991px) {
            bottom: 0;
        }

        @media (max-width:575px) {
            display: none;
        }
    }
}

/*7.2 qrest-service-section-s4 */
.qrest-service-section-s4 {
    background: #f3f5f9;
    padding-bottom: 95px;
    position: relative;
    overflow: hidden;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:757px) {
        padding-bottom: 50px;
    }

    .shape-1 {
        position: absolute;
        right: 0;
        top: -15%;
        border-radius: 81px;
        background-color: #f9bfb1;
        width: 211px;
        height: 309px;

        @media (max-width:767px) {
            display: none;
        }

        &::before {
            position: absolute;
            background-color: #fc9e85;
            width: 162px;
            height: 238px;
            content: '';
            border-radius: 81px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    .shape-2 {
        position: absolute;
        left: 0;
        bottom: -15%;
        border-radius: 81px;
        background-color: #f9bfb1;
        width: 211px;
        height: 309px;

        @media (max-width:767px) {
            display: none;
        }

        &::before {
            position: absolute;
            background-color: #fc9e85;
            width: 162px;
            height: 238px;
            content: '';
            border-radius: 81px;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    .service-single-item {
        border-radius: 100%;
        z-index: 1;
        padding: 60px 0;

        @media (max-width:1399px) {
            padding: 50px 0;
        }

        @media (max-width:1199px) {
            padding: 30px 0;
        }

        @media (max-width:991px) {
            padding: 30px 0;
            border-radius: 0;
        }

        @media (max-width:757px) {
            margin-bottom: 25px;
        }

        .images-bg {
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .icon {
            border: none;
            background: rgba(250, 79, 32, 0.147);

            i {
                color: $theme-primary-color-s4 !important;
            }
        }

        .text a {
            padding-left: 0;
        }

        .text h2 {
            margin-bottom: 10px;

            @media (max-width:1199px) {
                margin: 0;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }

        .text p {
            padding: 0px 80px;

            @media (max-width:1399px) {
                padding: 0px 10px;
            }

        }

        .btn {
            font-size: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background: $heading-color;
            color: $white;
            transition: all .3s ease-in-out;
            margin: 0 auto;

        }

        .btn {
            font-size: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background: $heading-color;
            color: $white;
            transition: all .3s ease-in-out;
            margin: 0 auto;

        }

        &:hover {
            .icon {
                border: none;
                background: $white;

            }

            .btn {
                background: $white;
                color: $theme-primary-color-s4;

            }
        }

    }
}

/*7.3 qrest-choose-area-s2 */
.qrest-choose-area-s2 {

    .qrest-section-title-s4 {
        @media (max-width:991px) {
            margin-top: 50px;
        }

        text-align: left;
        margin-right: 150px;
        margin-bottom: 30px;

        @media (max-width:1399px) {
            margin-right: 0;
        }
    }
}

.choose-tab {
    border: 1px solid #ededed;
    margin-bottom: 50px;

    .nav-link {
        border: transparent;
        background: $text-color-s2;
        font-size: 18px;
        font-family: $heading-font;
        color: $white;

        &.active {
            background: $theme-primary-color-s4;
        }
    }
}

.choose-tab-contnet {
    padding: 40px 20px;
    padding-right: 50px;

    @media (max-width:399px) {
        padding: 20px;
        padding-right: 20px;
    }

    h2 {
        font-size: 22px;
        font-family: $heading-font;
        color: $heading-color;
        font-weight: 700;
        text-decoration: underline;
        text-align: left;
    }

    p {
        font-size: 17px;
        font-family: $base-font;
        color: $text-color-s2;
        margin-bottom: 0;
    }
}

.choose-right-content {
    position: relative;

    .choose-img {
        overflow: hidden;
        position: relative;

        .image {
            img {
                border-bottom-left-radius: 200px;
                border-top-right-radius: 200px;
                width: 100%;

                @media (max-width:575px) {
                    border-bottom-left-radius: 100px;
                    border-top-right-radius: 100px;
                }
            }

            .shape {
                border: 30px solid rgb(250, 78, 32);
                border-radius: 50%;
                position: absolute;
                width: 357px;
                height: 367px;
                bottom: -95px;
                left: -82px;
                z-index: 1;

                @media (max-width:575px) {
                    display: none;
                }
            }

        }
    }

    .side-img {
        width: 250px;
        height: 250px;
        border: 10px solid $white;
        border-radius: 50%;
        position: absolute;
        right: -80px;
        top: -80px;

        @media (max-width:1199px) {
            right: 0;
        }

        @media (max-width:991px) {
            top: 0;
        }

        @media (max-width:575px) {
            width: 200px;
            height: 200px;
        }

        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}

/*7.4 qrest-video-area */
.qrest-video-area {
    position: relative;
    z-index: 1;
    background: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 668px;

    @media (max-width:1199px) {
        height: 500px;
    }

    @media (max-width:575px) {
        height: 500px;
    }

    &::before {
        position: absolute;
        left: 50%;
        bottom: 0;
        content: '';
        z-index: -1;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background-color: rgba(250, 78, 32, 0.729);
        width: 580px;
        height: 492px;
        transform: translateX(-50%);

        @media (max-width:1199px) {
            width: 480px;
            height: 390px;
        }

        @media (max-width:575px) {
            width: 350px;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
        }
    }

    .video-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 130px;
    }

    .play-video {
        text-align: center;

        .text {
            margin-top: 50px;

            span {
                font-size: 18px;
                font-family: $heading-font;
                color: $white;
                font-weight: 600;
            }
        }
    }

    .video-btn {
        display: inline-block;
        width: 55px;
        height: 55px;
        line-height: 61px;
        text-align: center;
        background: $white;
        border-radius: 50%;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            width: 70px;
            height: 70px;
            background: #e4aaa1;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
        }

        &::after {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            width: 85px;
            height: 85px;
            background: rgb(221, 221, 221);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -11;
        }

        i {
            font-size: 18px;
            color: $theme-primary-color-s4;
        }
    }


}

/*7.5 qrest-gallary-area */

.qrest-gallary-area {
    padding-bottom: 100px;

    @media (max-width:991px) {
        padding-bottom: 70px;
    }

    @media (max-width:767px) {
        padding-bottom: 60px;
    }

    .qrest-section-title-s4 {
        margin: 0 50px;
        margin-bottom: 60px;

        @media (max-width:1199px) {
            margin: 0;
            margin-bottom: 60px;
        }
    }
}

.gallary-wrap {

    .gallary-single {

        .image {
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin-bottom: 20px;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 0;
                content: "";
                background-color: rgb(11, 13, 35);
                opacity: 0.6;
                z-index: 1;
                transition: all .3s;
            }

            .fancybox {
                img {
                    width: 100%;
                    height: 315px;
                    object-fit: cover;
                }
            }

            .popup-icon {
                border-radius: 50%;
                background: rgb(255, 255, 255);
                position: absolute;
                right: 10px;
                top: 10px;
                right: 10px;
                width: 48px;
                height: 48px;
                text-align: center;
                z-index: 1;
                transition: all .5s;
                opacity: 0;
                visibility: hidden;

                i {
                    font-size: 20px;
                    color: rgb(250, 78, 32);
                    line-height: 48px;
                }

            }

            &:hover {
                &::before {
                    height: 100%;
                }

                .popup-icon {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

/*7.6 qrest-team-section-s4 */
.qrest-team-section-s4 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .bg-image {
        background: url(../images/team/team-bg-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 610px;
        z-index: -1;

        @media (max-width:991px) {
            height: 800px;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: rgb(10, 16, 44);
            opacity: 0.812;
            z-index: -11;
        }
    }

    .shape-1 {
        position: absolute;
        right: 0;
        top: -20%;
        width: 344px;
        height: 344px;
        border-radius: 50%;
        background-color: rgb(250, 78, 32);
        opacity: 0.6;

        @media (max-width:991px) {
            display: none;
        }

    }

    .shape-2 {
        border: 15px solid rgb(250, 78, 32);
        border-radius: 50%;
        position: absolute;
        width: 355px;
        height: 355px;
        left: -10%;
        top: -20%;

        @media (max-width:991px) {
            display: none;
        }
    }

    .qrest-section-title-s4 {
        h2 {
            color: $white;
        }
    }

    .team-wrap {

        .team-single-card {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;

            .image {
                background: #d7d7d7;
                border-top-left-radius: 250px;
                border-top-right-radius: 250px;

                img {
                    width: 100%;
                    border-top-left-radius: 250px;
                    border-top-right-radius: 250px;
                }
            }

            .content {
                position: relative;

                .sochal-item {
                    .menuschol-s2 {
                        text-align: center;
                        border-radius: 50%;
                        background-color: rgb(250, 78, 32);
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        font-size: 20px;
                        color: rgb(255, 255, 255);
                        position: absolute;
                        left: 50%;
                        z-index: 11;
                        top: -20px;
                        transform: translateX(-50%);
                        cursor: pointer;
                    }

                    .menuschol-s2.active~.menu {
                        opacity: 1;
                        visibility: visible;
                    }

                    .menu {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 11;
                        top: -190px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s;

                        ul {

                            li {
                                list-style: none;
                                display: block;
                                width: 45px;
                                height: 45px;
                                line-height: 50px;
                                border-radius: 50%;
                                background-color: rgb(255, 255, 255);
                                text-align: center;
                                margin-bottom: 10px;
                                transition: all .3s;

                                a {
                                    i {
                                        font-size: 20px;
                                        color: rgb(100, 100, 100);
                                        transition: all .3s;
                                    }

                                }

                                &:hover {
                                    background-color: $theme-primary-color-s4;

                                    a {
                                        i {
                                            color: $white;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

                .text {
                    max-width: 300px;
                    background: $white;
                    text-align: center;
                    margin: 0 auto;
                    padding: 30px 0;
                    border-radius: 5px;
                    box-shadow: 0px 0px 117px 0px rgba(0, 0, 0, 0.12);
                    margin-top: -50px;
                    position: relative;
                    z-index: 1;

                    h2 {
                        a {
                            font-size: 24px;
                            font-family: $heading-font;
                            color: #222222;
                            font-weight: 700;
                        }
                    }

                    span {
                        font-size: 17px;
                        color: rgb(99, 99, 99);
                        text-align: center;
                    }
                }
            }
        }
    }
}

/*7.7 qrest-brand-section-s2 */
.qrest-brand-section-s2 {
    background: transparent;
    padding-top: 0;

    .owl-nav {
        display: none;
    }

    .grid {
        max-width: 140px;
    }
}

/*7.8 qrest-technolog-area */
.qrest-technolog-area {
    overflow: hidden;
    margin-bottom: 90px;
}

.technolog-wrap {
    position: relative;
    z-index: 1;
    background: url(../images/technolog/bg.jpg);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(28, 31, 52, 0.8);
    }


}

.technolog-content {
    position: relative;
    z-index: 1;
    margin: 50px 25px;
    margin-right: 150px;
    background: url(../images/technolog/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
    padding-left: 30px;

    @media (max-width:1199px) {
        margin-right: 0;
        padding: 50px;
        padding-left: 30px;
    }

    @media (max-width:991px) {
        margin: 10px;
        padding: 30px;
        padding-left: 30px;
    }

    @media (max-width:575px) {
        margin: 10px;
        padding: 20px 10px;
    }

    .shape {
        background-color: #ffffff;
        position: absolute;
        right: -63px;
        top: 50%;
        width: 64px;
        height: 140px;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        transform: translateY(-50%);

        @media (max-width:991px) {
            display: none;
        }

    }

    .qrest-section-title-s4 {
        text-align: left;
        margin-bottom: 20px;

        h2 {
            @media (max-width:1399px) {
                font-size: 35px;
                line-height: 45px;
            }
            @media (max-width:575px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    ul {
        list-style: none;

        li {
            padding-left: 30px;
            position: relative;
            font-size: 17px;
            font-family: $heading-font;
            line-height: 1.588;
            color: #636363;
            margin-bottom: 10px;

            &::before {
                content: "\eed8";
                font-family: IcoFont !important;
                width: 20px;
                height: 20px;
                top: 3px;
                line-height: 22px;
                border-radius: 100%;
                color: $white;
                text-align: center;
                background: $heading-color;
                left: 0;
                position: absolute;
            }

            &:first-child {
                &::before {
                    background: $theme-primary-color-s4;
                }
            }
        }
    }
}

.technolog-img {
    position: relative;

    @media (max-width:991px) {
        display: none;
    }

    .shape-1 {
        border-radius: 50%;
        background-color: rgb(250, 78, 32, .6);
        position: absolute;
        left: 0;
        top: -50px;
        width: 310px;
        height: 310px;
        z-index: -1;

    }

    .shape-2 {

        border-radius: 50%;
        background-color: rgb(250, 78, 32, .6);
        position: absolute;
        left: 0;
        bottom: -150px;
        width: 310px;
        height: 310px;
        z-index: -1;

    }

    .shape-3 {

        border-radius: 50%;
        background-color: rgb(250, 78, 32, .6);
        position: absolute;
        right: 0;
        bottom: -150px;
        width: 310px;
        height: 310px;
        z-index: -1;

    }
}


/*7.9 qrest-cta-section-s3 */
.qrest-cta-section-s3 {
    padding: 0;
    background: url(../images/cta/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width:991px) {
        padding: 40px 0;
    }

    @media (max-width:991px) {}

    &::before {
        display: none;
    }

    .cta-text {
        display: flex;
        align-items: center;

        @media (max-width:991px) {
            display: block;
            text-align: center;
        }

        .icon {
            background-color: rgb(250, 78, 32);
            width: 161px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width:991px) {
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }

        h2 {
            margin-bottom: 0;
            width: calc(100% - 161px);
            font-size: 26px;
            font-family: $heading-font;
            font-weight: 700;
            margin-left: 50px;

            @media (max-width:991px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

/*7.10 qrest-blog-section-s4  */
.qrest-blog-section-s4 {
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .blog-card-single .card-text h2 {
        @media (max-width:1199px) {
            font-size: 20px;
        }
    }
  .blog-card-single .images {
     

        a {
            color: $theme-primary-color-s4;
        }
    }
}