/* qrest-about-section-s7 */

.qrest-about-section-s7 {
    position: relative;

    .about-left {
        position: relative;
        left: -50px;

        img {
            width: 100%;
        }

        .shape {
            position: absolute;
            left: -10px;
            top: 0;
            z-index: -1;
        }

        .shape-1 {
            position: absolute;
            right: -20px;
            top: -20px;
            z-index: -1;
        }
    }

    .about-right {

        .qrest-section-title-s7 {
            text-align: left;
            margin-right: 50px;
            margin-bottom: 30px;

            h2 {
                margin-bottom: 10px;
            }
        }

        .about-right-item {
            .icon {
                width: 100px;
                height: 100px;
                border-radius: 0;
                position: relative;
                box-shadow: 0px 0px 8px 0px transparent;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background: $theme-primary-color-s7;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &::before {
                    position: absolute;
                    left: -8px;
                    top: -6px;
                    width: 100%;
                    height: 100%;
                    content: url(../images/shape-8.png);
                    z-index: -1;
                }


            }
        }

        .sing {
            border-top: 1px solid #dddddd;
            display: flex;
            align-items: center;
            justify-content: left;
            padding-top: 20px;

            .sing-man {
                display: flex;
                align-items: center;
                justify-content: center;

                .image {}

                .text {
                    text-align: left;
                    margin-left: 20px;

                    h4 {
                        font-size: 24px;
                        font-family: $base-font;
                        color: #222222;
                        font-weight: 700;
                    }

                    span {
                        font-size: 17px;
                        font-family: $heading-font;
                        color: #636363;
                    }
                }
            }

            .singe-img {
                margin-left: 50px;
            }
        }
    }

    .shape-111 {
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* qrest-service-section-s7 */
.qrest-service-section-s7 {
    background-color: rgb(34, 31, 60);
    border-bottom-left-radius: 900px 400px;
    border-bottom-right-radius: 900px 400px;
    position: relative;


    .qrest-section-title-s7 {

        h2 {
            color: $white;
        }

        p {
            color: $white;
        }
    }

    .service-single-item {
        text-align: left;
        padding: 50px 40px;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: none;
        z-index: 1;
        transition: all .3s ease-in-out;
        overflow: hidden;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: $theme-primary-color-s7;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: all .3s ease-in-out;
        }

        .icon {
            margin: 0;
            border: 0;
            border-radius: 12px;
            background: $theme-primary-color-s7;
            transition: all .3s ease-in-out;

            i {
                transition: all .3s ease-in-out;
            }
        }

        span {
            font-size: 50px;
            font-family: $heading-font;
            color: #b6b6b63d;
            font-weight: 700;
            position: absolute;
            right: 40px;
            top: 60px;
        }

        .text {
            margin-top: 35px;

            h2 {
                margin: 0;
                margin-bottom: 10px;
                transition: all .3s ease-in-out;

                a {
                    color: #222222;
                    padding-left: 0;
                    transition: all .3s ease-in-out;
                }
            }

            p {
                color: #636363;
                padding: 0;
                margin-bottom: 30px;
                transition: all .3s ease-in-out;
            }

            a {
                color: $white;
                padding: 15px 25px;
                transition: all .3s ease-in-out;

                &::before {
                    display: none;
                }
            }
        }

        &:hover {
            background: transparent;

            &::before {
                opacity: 1;
                visibility: visible;
            }

            .icon {
                background: $white;

                i {
                    color: #1490fc;

                }
            }

            .text {

                h2 {

                    a {
                        color: $white;
                    }
                }

                p {
                    color: $white;
                }

                .theme-btn-s7 {
                    color: #1490fc;

                    &::after {
                        background: $white;
                    }
                }

            }
        }
    }

    .shape-1 {
        position: absolute;
        right: 0;
        top: 50px;
    }

    .shape-2 {
        position: absolute;
        left: 100px;
        bottom: 220px;
    }

    .shape-3 {
        position: absolute;
        right: 100px;
        bottom: 30%;
        width: 80px;
        height: 80px;
        background: $theme-primary-color-s7;
        border-radius: 50%;
    }
}

/* qrest-choose-section-s4 */
.qrest-choose-section-s4 {
    position: relative;
    z-index: 1;

    .images {
        position: absolute;
        top: 27%;
        right: 5%;

        .shape {
            position: absolute;
            left: -40px;
            bottom: -4px;
            z-index: -1;
        }
    }

    .shape-11 {
        position: absolute;
        right: 0;
        top: 170px;
        z-index: -1;
    }
}

.choose-left {

    .qrest-section-title-s7 {
        text-align: left;
        margin-bottom: 30px;
        margin-right: 150px;

        h2 {
            margin-bottom: 10px;
        }
    }
}

.choose-left-item {

    ul {
        li {
            padding: 50px 20px;
            text-align: center;
            border-radius: 12px;
            border: 1px solid $text-light-color-s2;
            position: relative;
            overflow: hidden;
            width: 270px;
            display: inline-block;
            z-index: 1;
            margin-right: 15px;
            margin-bottom: 20px;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 100%;
                height: 100%;
                background: $theme-primary-color-s7;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                z-index: -1;
            }

            .icon {
                border-radius: 12px;
                background: $theme-primary-color-s7;
                transition: all .3s ease-in-out;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;

                i {
                    transition: all .3s ease-in-out;
                    font-size: 40px;
                    color: #fff;
                }
            }

            h3 {
                margin: 0;
                margin-bottom: 15px;
                transition: all .3s ease-in-out;
                color: #222222;
                font-size: 24px;
                font-family: $heading-font;
                margin-top: 25px;
            }

            p {
                color: #636363;
                margin-bottom: 0px;
                transition: all .3s ease-in-out;
                font-size: 17px;
            }

            &:hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .icon {
                    background: $white;

                    i {
                        color: #1490fc;
                    }
                }

                h3 {
                    color: $white;
                }

                p {
                    color: $white;
                }
            }

        }
    }
}

.choose-right {
    text-align: right;
}

/* qrest-team-section-s5 */
.qrest-team-section-s5 {
    position: relative;
    z-index: 1;
    overflow: hidden;


    .team-wrap {

        .team-single-card {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;

            .image {
                background: #d7d7d7;

                img {
                    width: 100%;
                }
            }

            .content {
                position: relative;

                .sochal-item {
                    .menuschol-s2 {
                        text-align: center;
                        border-radius: 50%;
                        background-color: $white;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        font-size: 20px;
                        color: rgb(111, 60, 240);
                        position: absolute;
                        right: 15px;
                        z-index: 11;
                        top: -20px;
                        transform: translateX(-50%);
                        cursor: pointer;
                    }

                    .menuschol-s2.active~.menu {
                        opacity: 1;
                        visibility: visible;
                    }

                    .menu {
                        position: absolute;
                        right: 15px;
                        transform: translateX(-50%);
                        z-index: 11;
                        top: -190px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s;

                        ul {

                            li {
                                list-style: none;
                                display: block;
                                width: 45px;
                                height: 45px;
                                line-height: 50px;
                                background-color: rgb(255, 255, 255);
                                text-align: center;
                                transition: all .3s;
                                border-bottom: 1px solid rgb(111, 60, 240);

                                &:last-child {
                                    border-bottom: transparent;
                                }

                                a {
                                    i {
                                        font-size: 20px;
                                        color: rgb(100, 100, 100);
                                        transition: all .3s;
                                    }

                                }

                                &:hover {
                                    background-color: rgb(111, 60, 240);

                                    a {
                                        i {
                                            color: $white;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

                .text {
                    max-width: 100%;
                    background: linear-gradient(-35deg, rgb(111, 60, 240) 0%, rgb(0, 162, 255) 100%);
                    text-align: left;
                    padding: 30px 15px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 117px 0px rgba(0, 0, 0, 0.12);
                    margin-top: -50px;
                    position: relative;
                    z-index: 1;

                    h2 {
                        a {
                            font-size: 24px;
                            font-family: $heading-font;
                            color: $white;
                            font-weight: 700;
                        }
                    }

                    span {
                        font-size: 17px;
                        color: $white;
                    }

                    p {
                        padding-right: 80px;
                        margin-bottom: 0;
                        color: $white;
                        font-size: 17px;
                        color: $white;
                    }
                }
            }
        }
    }
}


/* qrest-skill-area-s2 */
.qrest-skill-area-s2 {
    background-color: rgb(34, 31, 60);
    position: relative;
    z-index: 1;
    border-top-left-radius: 900px 400px;
    border-top-right-radius: 900px 400px;
    overflow: hidden;
    padding-top: 440px;
    margin-top: -440px;
    z-index: -1;

    .qrest-section-title-s7 {
        text-align: left;
        margin-bottom: 0;

        h2 {
            color: $white;
            margin-bottom: 10px;
            margin-right: 50px;
        }

        p {
            color: $white;
        }
    }



    ul {
        list-style: none;
        margin-bottom: 50px;
        margin-top: 20px;

        li {
            padding-left: 30px;
            position: relative;
            font-size: 17px;
            font-family: $heading-font;
            line-height: 1.588;
            color: $white;

            &::before {
                content: "\eed8";
                font-family: IcoFont !important;
                width: 20px;
                height: 20px;
                top: 3px;
                line-height: 22px;
                border-radius: 100%;
                color: $white;
                text-align: center;
                background: $theme-primary-color-s7;
                left: 0;
                position: absolute;
            }
        }
    }

    .skill-right-content {
        .image {
            position: relative;
            z-index: -1;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                border-radius: 50%;
                border: 20px solid $white;
            }

            .round-shape {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: 20px solid #4860f5;
                z-index: 1;
                position: absolute;
                left: 50%;
                top: -172px;
            }
        }

        .shape-1 {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 20px solid #4860f5;
            z-index: -11;
            position: absolute;
            left: 20%;
            bottom: -37%;
        }
    }

    .shape-10 {
        position: absolute;
        left: 85px;
        bottom: 145px;
    }

    .shape-11 {
        position: absolute;
        right: 100px;
        top: 245px;
    }

    .shape-12 {
        position: absolute;
        left: 290px;
        top: 250px;
        width: 80px;
        height: 80px;
        background: linear-gradient(-35deg, rgb(0, 162, 255) 0%, rgb(111, 60, 240) 100%);
        border-radius: 50%;
    }
}

.progress-wrap-s2 {
    .progress-item {
        position: relative;
        margin-top: 20px;
    }

    .progress-item .donate-progress {
        position: relative;
        margin-top: 10px;
        width: 100%;
        overflow: hidden;
        border: 1px solid #1c88fb;
        border-radius: 10px;
    }

    .progress-item .donate-progress .cssProgress-bar {
        display: block;
        float: left;
        width: 0%;
        height: 5px;
        margin: 3px;
        background: #1c88fb;
        box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
        transition: width 0.8s ease-in-out;
        border-radius: 10px;
    }

    .progress-item .cssProgress-label {
        position: absolute;
        top: 12px;
        left: 95%;
        color: $white;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        font-family: $heading-font;

        @media (max-width:575px) {
            left: 87%;
        }
    }

    .progress-item .progress-text span {
        font-size: 17px;
        font-weight: 500;
        text-align: left;
        text-transform: capitalize;
        color: $white;
        font-family: $heading-font;
    }
}

/* qrest-video-area-s2 */
.qrest-video-area-s2 {
    height: 100%;
    background: url(../images/video-bg-3.jpg);

    &:before {
        left: 0;
        border-radius: 0;
        background-color: rgb(0, 162, 255);
        width: 100%;
        ;
        height: 100%;
        top: 0;
        transform: unset;
        background-color: rgb(0, 22, 76);
        opacity: 0.569;
    }

    .video-content {
        margin-top: 0;
    }

    .play-video {
        h3 {
            font-size: 50px;
            font-family: $base-font;
            color: $white;
            font-weight: 700;
            line-height: 1.28;
            text-align: center;
            max-width: 750px;
            margin-bottom: 53px;
        }

        .video-btn {
            background: $white;

            &::before {
                width: 75px;
                height: 75px;
                background: #ffffff88;
            }

            &::after {
                width: 90px;
                height: 90px;
                background: rgba(255, 255, 255, 0.519);
            }

            i {
                background: $theme-primary-color-s7;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .theme-btn-s7 {
            margin-top: 72px;
        }
    }


}




/* qrest-portfolio-area-section-s7 */
.qrest-portfolio-area-section-s7 {

    .portfolio-wrap {
        margin: 0 100px;

        .portfolio-single-card {
            border-radius: 0;
            overflow: unset;
            position: relative;
            margin-bottom: 80px;

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0;
                content: '';
                background: $theme-primary-color-s7;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
            }

            .images {
                img {
                    border-radius: 0;
                }
            }

            .text {
                bottom: -65px;
                opacity: 1;
                visibility: visible;
                border-radius: 0;
                padding: 30px;
                text-align: left;
                width: 350px;
                left: 50%;
                transform: translateX(-50%);
                background: $white;

                a {
                    border-radius: 50%;
                    background: $theme-primary-color-s7;
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-50%);

                    i {
                        color: $white;
                    }
                }

                span {
                    background: $theme-primary-color-s7;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-transform: uppercase;
                    display: inline-block;

                    .border-left {
                        position: relative;
                        padding-left: 20px;

                        &::before {
                            position: absolute;
                            content: '';
                            left: -1px;
                            top: 50%;
                            width: 18px;
                            height: 1px;
                            background: $theme-primary-color-s7;
                            transform: translateY(-50%);
                        }
                    }
                }

                h2 {
                    color: $text-color-s2;
                    display: inline-block;
                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }

            &:hover {
                &::before {
                    opacity: 0.6;
                    visibility: visible;
                    height: 100%;
                }

                .text {
                    bottom: 40px;
                }
            }
        }
    }
}

/* qrest-cta-section-s7 */
.qrest-cta-section-s7 {
    background: url(../images/cta/bg-4.jpg);

    .cta-text {
        .icon {
            background-color: rgb(0, 162, 255);
        }
    }

    .cta-btn {
        padding: 12px 35px;
        color: #1490fc;
        border-radius: 6px;
    }
}

/* qrest-blog-section-s7 */
.qrest-blog-section-s7 {

    .blog-card-single {

        .images {
            &::before {
                display: none;
            }
        }

        .card-text {
            position: relative;
            z-index: 1;

            &::before {
                transition: all .3s;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: $theme-primary-color-s7;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }

            .top-text {
                span {
                    &::before {
                        background: $theme-primary-color-s7;
                        transition: all .3s;
                    }

                    background: transparent;
                }

                strong {
                    transition: all .3s;
                }

                span {
                    transition: all .3s;
                }
            }

            h2 {
                transition: all .3s;
            }

            p {
                transition: all .3s;
            }

        }

        &:hover {
            .card-text {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .top-text {

                    strong {
                        color: $white;
                    }

                    span {
                        color: $white;

                        &::before {
                            color: $white;
                        }
                    }
                }

                h2 {
                    color: $white;
                }

                p {
                    color: $white;
                }
            }

        }
    }
}