/* 4. home style 2 */

/* qrest-categorie-area */
.qrest-categorie-area {
    @media (max-width:991px) {
        padding-top: 90px;
    }

    @media (max-width:767px) {
        padding-top: 80px;
    }
}

.categorie-item {
    position: relative;
    z-index: 1;
    // background: $white;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    @media (max-width:1199px) {
        padding: 25px 15px;
    }

    @media (max-width:991px) {
        margin-bottom: 30px;
    }

    .icon {
        background: $theme-primary-color-s2;
        border-radius: 50%;
        width: 60px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 30px;
            color: $white;
        }
    }

    .text {
        h3 {
            margin-top: 15px;
            font-size: 20px;
            font-family: $heading-font;
            color: rgb(34, 34, 34);
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
            transition: all 0.3s ease-in-out;

            @media (max-width:1399px) {
                font-size: 19px;
            }
        }
    }

    .bg-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -11;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        i {
            font-size: 180px;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: #e12154;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover {
        background: transparent;
        box-shadow: 0px 0px 22px 0px transparent;

        .icon {
            background: $white;

            i {
                color: $theme-primary-color;
            }
        }

        .text {
            h3 {
                color: $white;
            }
        }

        .bg-icon {
            opacity: 1;
            visibility: visible;

            &::before {
                opacity: 0.8;
                visibility: visible;
            }
        }
    }
}



/* qrest-about-section-s2 */
.qrest-about-section-s2 {
    padding-top: 130px;

    @media (max-width:991px) {
        padding-top: 60px;
    }

    @media (max-width:767px) {
        padding-top: 50px;
    }

    .qrest-section-title-s2 {
        margin-bottom: 40px;

        h2 {
            margin-right: 50px;

            @media (max-width:1199px) {
                margin-right: 0px;
                font-size: 38px;
            }
        }
    }

    .about-support {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .about-btn,
        .about-btn-s2 {
            background-color: $theme-primary-color;
            font-size: 18px;
            font-family: $heading-font;
            color: $white;
            font-weight: 700;
            text-align: center;
            padding: 15px 20px;
            border-radius: 100px;

            i {
                margin-right: 15px;
                font-size: 24px;
            }
        }

        .about-btn-s2 {
            background-color: #f4f5f9;
            color: $small-black;
            margin-left: 25px;

            i {
                color: $theme-primary-color;
            }
        }
    }

    .about-item {
        margin-top: 40px;

        ul {
            li {
                padding-left: 45px;

                @media (max-width:1199px) {
                    font-size: 15px;
                    line-height: 25px;
                }

                &::before {
                    content: "\eed9";
                    font-family: IcoFont !important;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 100%;
                    color: $white;
                    text-align: center;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .about-left-content .text {
        width: 350px;
        height: 70px;
        border-radius: 0;
        border: 3px dashed transparent;
        bottom: -80px;
        display: block;

        @media (max-width:767px) {
            right: 20px;
        }

        .info {
            padding-left: 30px;
            padding-top: 13px;
            width: 100%;
            height: 100%;
            border-radius: 100px;
            text-align: left;

            h3 {
                display: inline;
                font-size: 22px;
                font-weight: 600;
            }

            p {
                display: inline;
                font-size: 22px;
                font-weight: 500;
                font-family: $heading-font;
            }
        }
    }


    .shape {
        right: 77px;
    }
}



/* qrest-service-section-s2 */
.qrest-service-section-s2 {
    background-color: rgb(241, 247, 252);
    padding-bottom: 95px;

    @media (max-width:991px) {
        padding-bottom: 65px;
    }

    @media (max-width:991px) {
        padding-bottom: 55px;
    }

    .qrest-section-title-s2 {
        margin-bottom: 50px;

        @media (max-width:991px) {
            margin-bottom: 0;
        }

        h2 {
            margin-right: 50px;

            @media (max-width:1199px) {
                margin-right: 0;
            }
        }
    }

    .service-wrap {
        @media (max-width:991px) {
            margin-top: 30px;
        }

        .service-single-item {
            padding: 0;
            z-index: 1;

            .image {
                padding: 10px;

                img {
                    border-radius: 5px;
                    width: 100%;
                }
            }

            .icon {
                margin-top: -50px;
                border: 0;
                z-index: auto;
                color: $white;
                background: $white;
                transition: all 0.3s ease-in-out;

                i {
                    color: $theme-primary-color;
                    transition: all 0.3s ease-in-out;
                }

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    width: 100%;
                    height: 100%;
                    background: $theme-primary-color;
                    border-radius: 100%;
                    z-index: -1;
                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover {
                background: $white;

                .icon {
                    background: $theme-primary-color;

                    i {
                        color: $white;
                    }

                    &::before {
                        background: $theme-primary-color-s2;
                    }
                }

                .text {
                    h2 {
                        a {
                            color: rgb(51, 51, 51);
                        }
                    }

                    p {
                        color: rgb(99, 99, 99);
                    }

                    .read {
                        background: $theme-primary-color;
                    }
                }
            }

            .text {
                h2 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                }

                .read {
                    font-size: 17px;
                    font-family: $heading-font;
                    color: $white;
                    padding: 20px 0;
                    background: $theme-primary-color-s2;
                    display: block;
                    text-align: center;
                    font-weight: 500;

                    @media (max-width:1199px) {
                        padding: 15px 0;
                    }

                    &::before {
                        left: 65%;
                        top: 27%;
                        content: "\ea5d";
                        font-size: 24px;
                        font-family: IcoFont !important;
                        width: 14px;
                        height: 14px;
                        background: transparent;
                        color: $white;
                        transform: translateX(-50%);

                        @media (max-width:1199px) {
                            left: 69%;
                            top: 25%;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}



/* qrest-project-section */
.qrest-project-section {
    padding-bottom: 0;

    .qrest-section-title-s2 {
        h2 {
            margin-right: 50px;

            @media (max-width:991px) {
                margin-right: 0;
            }
        }

        @media (max-width:991px) {
            margin-bottom: 0;
        }
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        text-align: center;
        margin-top: 35px;
    }

    .owl-dots button.owl-dot {
        width: 25px;
        height: 11px;
        border-radius: 100px;
        display: inline-block;
        background: $theme-primary-color-s2;
        margin: 0 4px;
        position: relative;
        border: 0;
    }

    .owl-dots button.owl-dot.active {
        background-color: $theme-primary-color;
        width: 40px;
    }

    .project-wrap {
        @media (max-width:991px) {
            margin-top: 30px;
        }
    }
}

.project-single {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .image {
        img {
            width: 100%;
        }
    }

    &:hover {
        .text {
            opacity: 0.89;
            visibility: visible;
            left: 0;
        }
    }

    .text {
        position: absolute;
        background: $theme-primary-color-s2;
        opacity: 0;
        visibility: hidden;
        border-top: 3px solid $white;
        border-right: 3px solid $white;
        padding: 40px;
        border-top: 3px solid #fff;
        border-top-right-radius: 230px 150px;
        left: -100%;
        bottom: 0;
        width: 100%;
        transition: all .3s ease-in-out;
        padding-top: 55px;
        padding-bottom: 30px;

        @media (max-width:1559px) {
            padding-top: 55px;
            padding-left: 10px;
            padding-right: 10px;
        }

        h2 {
            a {

                font-size: 22px;
                font-family: $heading-font;
                color: $white;
                font-weight: 700;

                @media (max-width:1699px) {
                    font-size: 19px;
                }
            }
        }

        span {
            font-size: 17px;
            font-family: $base-font;
            color: $white;
        }
    }

    .icon {
        position: absolute;
        right: 55px;
        top: 7px;

        a {
            i {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $theme-primary-color;
                border: 5px solid $white;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                font-size: 20px;
                transition: all .3s ease-in-out;

                &:hover {
                    background: $theme-primary-color-s2;
                }
            }
        }
    }
}



/* qrest-choose-section */
.qrest-choose-section {
    border-top: 1px solid #dddddd;
    position: relative;

    .bg-image {
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width:1759px) {
            right: -15%;
        }

        @media (max-width:1399px) {
            right: -22%;
        }

        @media (max-width:1199px) {
            right: -40%;
        }

        @media (max-width:991px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .qrest-section-title-s2 {
        margin-bottom: 0;
        margin-top: 100px;

        @media (max-width:1199px) {
            margin-top: 50px;
        }

        h2 {
            margin-right: 50px;

            @media (max-width:1199px) {
                margin-right: 0;
            }
        }

        p {
            padding-right: 45px;

            @media (max-width:1199px) {
                padding-right: 0;
            }
        }
    }
}

.choose-content {
    .single-item {
        padding: 25px 20px;
        border-radius: 100px;
        background-color: rgb(241, 247, 252);
        display: flex;
        justify-content: left;
        align-items: center;
        margin-right: 30px;
        margin-top: 30px;

        @media (max-width:991px) {
            border-radius: 0px;
            margin-right: 0px;
        }

        &.s2 {
            .icon {
                background: $theme-primary-color;

                i {
                    color: $white;
                }
            }
        }

        .icon {
            width: 75px;
            height: 75px;
            border-radius: 100px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 40px;
            }
        }

        .text {
            width: calc(100% - 75px);
            padding-left: 15px;

            h2 {
                font-size: 22px;
                font-family: $heading-font;
                color: rgba(51, 51, 51, 0.902);
                font-weight: 700;
                text-align: left;
            }

            p {
                font-size: 17px;
                font-family: $base-font;
                color: rgb(99, 99, 99);
                text-align: left;
                padding-right: 30px;
                margin-bottom: 0;

                @media (max-width:1399px) {
                    padding-right: 0;
                }

            }
        }
    }

    .theme-btn-s2 {
        margin-top: 50px;
    }
}



/* qrest-fun-fact-area */
.qrest-fun-fact-area {
    padding-top: 150px;

    @media (max-width:991px) {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    @media (max-width:767px) {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .item {
        text-align: center;

        @media (max-width:991px) {
            margin-bottom: 40px;
        }

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(247, 247, 247);
            border-radius: 100px;
            padding: 35px 0;
            transition: all 0.3s ease-in-out;

            @media (max-width:1199px) {
                font-size: 30px 0;
            }

            .icon {
                margin-right: 15px;

                i {
                    font-size: 70px;
                    color: $theme-primary-color-s2;
                    transition: all 0.3s ease-in-out;

                    @media (max-width:1199px) {
                        font-size: 50px;
                    }

                    @media (max-width:767px) {
                        font-size: 40px;
                    }

                }
            }

            h3 {
                font-size: 46px;
                font-family: $heading-font;
                color: rgb(34, 29, 29);
                font-weight: 700;
                transition: all 0.3s ease-in-out;

                @media (max-width:1199px) {
                    font-size: 35px;
                }

                @media (max-width:767px) {
                    font-size: 25px;
                }

                span {
                    font-size: 46px;

                    @media (max-width:1199px) {
                        font-size: 35px;
                    }

                    @media (max-width:767px) {
                        font-size: 25px;
                    }
                }
            }
        }

        &:hover {
            .info {
                background-color: $theme-primary-color;

                .icon {
                    i {
                        color: $white;
                    }
                }

                h3 {
                    color: $white;
                }
            }
        }

        h4 {
            font-size: 22px;
            font-family: $heading-font;
            color: rgb(51, 51, 51);
            font-weight: 700;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 0;

            @media (max-width:1199px) {
                font-size: 20px;
                margin-top: 20px;
            }

            @media (max-width:767px) {
                font-size: 18px;
            }
        }
    }
}



/* qrest-team-section-s2 */
.qrest-team-section-s2 {
    border-top: 1px solid $border-color;

    .qrest-section-title-s2 {
        @media (max-width:991px) {
            margin-bottom: 0;
        }

        h2 {
            margin-right: 50px;

            @media (max-width:1399px) {
                margin-right: 0px;
            }
        }
    }

    .team-slider {
        @media (max-width:991px) {
            margin-top: 30px;
        }
    }
}

.team-slider {

    .owl-nav {
        display: none;
    }

    .owl-dots {
        text-align: center;
        margin-top: 35px;
    }

    .owl-dots button.owl-dot {
        width: 25px;
        height: 11px;
        border-radius: 100px;
        display: inline-block;
        background: #a4b6c0;
        margin: 0 4px;
        position: relative;
        border: 0;
    }

    .owl-dots button.owl-dot.active {
        background-color: $theme-primary-color;
        width: 40px;
    }
}

.team-single-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;

    .image {

        img {
            width: 100%;
        }
    }

    &:hover {
        .icon {
            opacity: 1;
            visibility: visible;
            left: 20px;

            li {
                &:nth-child(2) {
                    margin-left: 0px;
                }

                &:last-child {
                    margin-left: 0px;
                }
            }
        }
    }

    .icon {
        list-style: none;
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 20px;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        li {
            &:nth-child(2) {
                transition: all .5s ease-in-out;
                margin-left: -20px;
            }

            &:last-child {
                transition: all .7s ease-in-out;
                margin-left: -30px;
            }

            display: block;

            a {
                width: 40px;
                height: 40px;
                background: transparent;
                border-radius: 50%;
                margin-bottom: 10px;
                color: $theme-primary-color-s2;
                transition: all .3s ease-in-out;
                border: 1px solid $theme-primary-color-s2;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                a {
                    background: $theme-primary-color;
                    color: $white;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .content {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 20px;

        h2 {
            a {
                font-size: 23px;
                font-family: $heading-font;
                color: rgb(51, 51, 51);
                font-weight: 700;
                transition: all .3s ease-in-out;

                &:hover {
                    color: $theme-primary-color;
                }
            }
        }

        span {
            font-size: 17px;
            font-family: $base-font;
            color: rgb(99, 99, 99);
        }
    }
}



/* qrest-appointment-area */
.qrest-appointment-area {
    position: relative;

    &::before {
        position: absolute;
        left: 18%;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgb(241, 247, 252);
        border-radius: 5px;
        z-index: -1;

        @media (max-width:1300px) {
            left: 10%;
        }

        @media (max-width:1199px) {
            left: 0;
        }
    }

    .qrest-section-title-s2 {
        margin-bottom: 0;

        h2 {
            @media (max-width:1199px) {
                font-size: 38px;
            }

            @media (max-width:991px) {
                font-size: 36px;
                line-height: 55px;
            }

            @include media-query(767px) {
                font-size: 28px;
                line-height: 35px;
            }

            @include media-query(330px) {
                font-size: 20px;
            }
        }
    }

    .side-image {
        position: absolute;
        left: 10%;
        top: -49px;

        @media (max-width:1449px) {
            left: 6%;
        }

        @media (max-width:1300px) {
            left: 2%;
        }

        @media (max-width:1199px) {
            left: -80px;
        }

        @media (max-width:991px) {
            display: none;
        }
    }

    .shape-1 {
        position: absolute;
        right: 30px;
        bottom: 75px;

        @media (max-width:991px) {
            display: none;
        }
    }

    .shape-2 {
        position: absolute;
        left: 35%;
        top: 20%;

        @media (max-width:991px) {
            display: none;
        }
    }
}

.app-form {
    margin-right: 95px;

    @media (max-width:1199px) {
        margin-right: 0;
    }

    .form-control {
        width: 100%;
        height: 40px;
        font-size: 15px;
        font-family: $heading-font;
        color: #636363;
        font-weight: 400;
        padding-left: 20px;
        background: $white;
        border: 1px solid transparent;
        margin-bottom: 20px;

        &:focus {
            box-shadow: 0 0 0 0.25rem transparent;
            border: 1px solid transparent;
        }
    }

    .nice-select {
        line-height: 28px;
    }

    .form-btn {
        width: 100%;
        border: transparent;
        font-size: 17px;
        font-family: $base-font;
        background: $theme-primary-color-s2;
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 0;
        text-align: center;
        border-radius: 5px;
    }
}



/* qrest-blog-section-s2 */
.qrest-blog-section-s2 {
    .qrest-section-title-s2 {
        @media (max-width:991px) {
            margin-bottom: 0;
        }

        h2 {

            @media (max-width:1399px) {
                margin-right: 0px;
            }
        }
    }

    .blog-wrap {
        @media (max-width:991px) {
            margin-top: 30px;
        }
    }
    .blog-card-single {
        .card-text {
            background-color: rgb(241, 247, 252);
            padding-bottom: 30px;

            .top-text {
                background: #fff;
                padding: 8px;
                padding-left: 5px;
                padding-right: 0;
                display: inline-block;
                right: -95px;

                @media (max-width:1399px) {
                    right: -46px;
                }
                @media (max-width:1199px) {
                    right: -145px;
                }
                @media (max-width:991px) {
                    right: 0px;
                }

                span {
                    position: relative;

                    &::before {
                        position: absolute;
                        left: 2px;
                        top: 50%;
                        content: '';
                        width: 15px;
                        height: 1px;
                        background: #c9c9c9;
                    }
                }
            }

            h2 {
                padding-left: 25px;
                padding-right: 25px;
            }

            p {
                border-bottom: 1px solid $white;
                padding-left: 25px;
                padding-right: 25px;
            }

            .theme-btn-s2 {
                margin-left: 25px;
                color: $white;

                &:hover {
                    background: $theme-primary-color;

                    &::after {
                        background: $white;
                        color: $theme-primary-color;
                    }
                }
            }
        }
    }



    .owl-dots button.owl-dot {
        width: 25px;
        background: $theme-primary-color-s2;
        border-radius: 12px;
    }

    .owl-dots button.owl-dot.active {
        background-color: $theme-primary-color;
        width: 40px;
    }

}