/* qrest-about-section-s3 */
.qrest-about-section-s3 {
    position: relative;

    .qrest-section-title-s3 {
        text-align: left;
    }

    .about-left-content {
        .about-img-1 {
            background-color: rgb(189, 189, 189);
            box-shadow: 0px 0px 87px 0px rgba(12, 62, 185, 0.18);
            width: 300px;
            height: 300px;
        }

        .shape-1 {
            left: 250px;
            bottom: -78px;
            width: 200px;
        }
    }

    .qrest-section-title-s3 {
        margin-right: 105px;
        margin-bottom: 20px;

        p {
            padding-right: 71px;
            margin-bottom: 0;
        }
    }

    .shape {
        position: absolute;
        right: 0;
        bottom: 0;

        &::before {
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            width: 250px;
            height: 250px;
            background: $theme-primary-color-s3;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }

        &::after {
            position: absolute;
            content: "";
            right: -67px;
            bottom: 141px;
            width: 250px;
            height: 250px;
            background: #fbce61;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            z-index: -1;
        }
    }
}

.about-right-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:hover {
        .icon {
            background: $theme-primary-color-s3;
            color: $white;
            box-shadow: 0px 0px 8px 0px transparent;
        }
    }

    .icon {
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $theme-primary-color-s3;
        transition: all 0.3s ease-in-out;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.11);
        font-size: 30px;
    }

    .text {
        margin-left: 20px;
        margin-right: 120px;
        width: calc(100% - 40%);

        h4 {
            font-family: $heading-font;
            color: #181a25;
            font-weight: 700;
        }

        span {
            font-size: 17px;
            font-family: $base-font;
            color: #626262;
        }
    }
}

/* qrest-service-section-s3 */
.qrest-service-section-s3 {
    background: #1a1e2a;
    position: relative;

    .qrest-section-title-s3 {
        margin: 0 70px;
        margin-bottom: 60px;

        h2 {
            color: $white;
        }
    }

    .service-single-item {
        position: relative;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        box-shadow: 0px 0px 120px 0px transparent;
        margin-bottom: 25px;
        border-radius: 3px;
        z-index: 1;

        .image {
            img {
                width: 100%;
            }
        }

        .content {
            background-color: rgb(250, 178, 4);
            opacity: 0.941;
            text-align: left;
            padding: 45px;
            padding-left: 30px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            .number {
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                top: 10px;
                transition: all 0.3s ease-in-out;

                span {
                    font-size: 17px;
                    font-family: $heading-font;
                    color: $theme-primary-color-s3;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                }
            }

            .icon {
                margin: 0;
                border: 5px solid transparent;
                background: $white;
                transition: all 0.3s ease-in-out;

                i {
                    color: $theme-primary-color-s3;
                    transition: all 0.3s ease-in-out;
                }
            }

            .text {
                transition: all 0.3s ease-in-out;

                h2 {
                    a {
                        padding-left: 0;
                        color: $white;
                    }
                }

                p {
                    padding: 0;
                    color: $white;
                }

                .theme-btn-s3 {
                    background: $white;
                    color: $theme-primary-color-s3;
                    margin-top: 25px;

                    i {
                        color: $theme-primary-color-s3;
                    }

                    &:hover {
                        background: $white;
                        color: $theme-primary-color-s3;

                        i {
                            color: $theme-primary-color-s3;
                        }

                        &::after {
                            background: transparent;
                        }
                    }

                    &::before {
                        display: none;
                    }
                }
            }
        }

        &:hover {
            .content {
                height: 100%;
                opacity: 1;
                visibility: visible;
                opacity: 0.941;
            }
        }
    }
}

/* qrest-skill-area */
.qrest-skill-area {
    .qrest-section-title-s3 {
        text-align: left;
        margin-bottom: 40px;
    }
}

.progress-wrap {
    .progress-item {
        position: relative;
        margin-top: 20px;
    }

    .progress-item .donate-progress {
        position: relative;
        margin-top: 10px;
        width: 100%;
        overflow: hidden;
        border: 1px solid $theme-primary-color-s3;
        border-radius: 10px;
    }

    .progress-item .donate-progress .cssProgress-bar {
        display: block;
        float: left;
        width: 0%;
        height: 5px;
        margin: 3px;
        background: $theme-primary-color-s3;
        box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
        transition: width 0.8s ease-in-out;
        border-radius: 10px;
    }

    .progress-item .cssProgress-label {
        position: absolute;
        top: 0;
        left: 95%;
        color: $small-black;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        font-family: $heading-font;
    }

    .progress-item .progress-text span {
        font-size: 17px;
        font-weight: 500;
        text-align: left;
        text-transform: capitalize;
        color: $theme-primary-color-s3;
        color: $small-black;
        font-family: $heading-font;
    }
}

.admin-wrap {
    display: flex;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #dddddd;
    margin-top: 40px;

    .admin {
        display: flex;
        align-items: center;

        .image {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid $theme-primary-color-s3;

            img {
                border-radius: 50%;
            }
        }

        .text {
            margin-left: 10px;

            h4 {
                font-size: 22px;
                font-family: $heading-font;
                color: #181a25;
                font-weight: 700;
            }

            span {
                font-size: 17px;
                font-family: $base-font;
                color: #636363;
            }
        }
    }

    .play-video {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
            span {
                font-size: 18px;
                font-family: $heading-font;
                color: rgb(26, 30, 42);
                text-decoration: underline;
                margin-left: 15px;
                font-weight: 500;
            }
        }
    }

    .video-btn {
        display: inline-block;
        width: 55px;
        height: 55px;
        line-height: 61px;
        text-align: center;
        background: $theme-primary-color-s3;
        border-radius: 50%;
        margin-left: 45px;
        position: relative;

        i {
            font-size: 18px;
            color: $white;
        }
    }
}

.skill-right-content {
    position: relative;
    z-index: 1;
    text-align: end;

    .image-1 {
        width: 470px;
        height: 500px;
        display: inline-block;

        img {
            border-radius: 71px;
            width: 100%;
        }
    }

    .image-2 {
        position: absolute;
        top: -70px;
        right: -90px;

        img {
            border: 10px solid $white;
            width: 188px;
            height: 227px;
            border-radius: 71px;
            width: 100%;
        }
    }

    .shape {
        border-radius: 71px;
        background-color: rgb(255, 180, 0);
        position: absolute;
        width: 266px;
        height: 279px;
        z-index: -1;
        bottom: -12px;
        left: 137px;
    }
}


/* qrest-fun-fact-area-s2 */
.qrest-fun-fact-area-s2 {
    position: relative;
    z-index: 1;
    background: url(../images/fun-fact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(94deg, rgb(5, 62, 86) 0%, rgb(26, 30, 42) 100%);
        opacity: 0.839;
        z-index: -1;
    }

    .shape-1 {
        position: absolute;
        left: 0;
        top: 40px;
        height: 3px;
        width: 100%;
        background: #485d66;

        &::before {
            position: absolute;
            left: 0;
            top: 7px;
            content: "";
            height: 1px;
            width: 100%;
            background: #485d66;
        }
    }

    .shape-2 {
        position: absolute;
        left: 0;
        bottom: 40px;
        height: 3px;
        width: 100%;
        background: #485d66;

        &::before {
            position: absolute;
            left: 0;
            top: -7px;
            content: "";
            height: 1px;
            width: 100%;
            background: #485d66;
        }
    }

    .item {
        text-align: center;

        .info {
            h3 {
                font-size: 48px;
                font-family: $heading-font;
                color: $white;
                font-weight: 700;
            }
        }

        h4 {
            font-size: 17px;
            font-family: $heading-font;
            color: $white;
            font-weight: 400;
        }
    }
}

/* qrest-project-section-s2 */
.qrest-project-section-s2 {
    .project-single {
        border-radius: 3px;
        margin-left: 30px;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            background-color: rgb(248, 177, 5);
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            transition: all 0.3s ease-in-out;
        }

        .text {
            position: absolute;
            background: $white;
            border: 0;
            border-top: 3px solid transparent;
            padding: 0;
            border-top-right-radius: 0;
            left: 15px;
            top: auto;
            bottom: 15px;
            border-radius: 0;
            z-index: 1;
            opacity: 1;
            width: auto;
            height: auto;
            visibility: visible;
            display: inline-block;
            text-align: center;
            padding: 40px 50px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            h2 {
                font-size: 22px;
                color: #181a25;
            }

            span {
                font-size: 17px;
                color: #636363;
                text-transform: uppercase;
            }
        }
    }

    .slick-active {
        border-radius: 3px;

        &::before {
            opacity: 0.812;
            visibility: visible;
        }

        .text {
            opacity: 1;
            visibility: visible;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        list-style-type: none;

        li {
            margin: 0 15px;
        }

        button {
            display: block;
            width: 30px;
            height: 15px;
            padding: 0;
            border: none;
            border-radius: 100px;
            background-color: #dddddd;
            text-indent: -9999px;
            transition: all 0.3s ease-in-out;
            margin-top: 50px;
        }

        li.slick-active button {
            background: $theme-primary-color-s3;
            width: 40px;
            height: 15px;
        }
    }
}

/* qrest-cta-section-s2 */
.qrest-cta-section-s2 {
    position: relative;
    background: url(../images/cta/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    padding: 60px 0;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgb(24, 39, 54);
        opacity: 0.902;
        z-index: -1;
    }

    .cta-text {
        text-align: left;

        h2 {
            font-size: 31px;
            font-family: $heading-font;
            color: $white;
            font-weight: 700;
            margin-bottom: 22px;
        }

        p {
            font-size: 17px;
            font-family: $base-font;
            color: $white;
            margin-bottom: 0;
        }
    }

    .cta-right {
        text-align: end;
    }

    .right-bg {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        width: 40%;
        background: $theme-primary-color-s3;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    }
}

.cta-btn {
    background: $white;
    color: $theme-primary-color-s3;
    display: inline-block;
    font-weight: 500;
    padding: 12px 20px;
    font-family: $heading-font;
    border: 0;
    text-transform: capitalize;
    z-index: 1;
    position: relative;
    font-size: 15px;
    transition: all 0.3s ease-in-out;

    i {
        margin-left: 15px;
        color: $theme-primary-color-s3;
        transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
        background: $theme-primary-color-s2;
        color: $white;

        i {
            color: $white;
        }
    }

    @include media-query(991px) {
        font-size: 18px;
    }

    @include media-query(767px) {
        padding: 12px 18px;
        font-size: 14px;
    }
}

/* qrest-team-section-s3 */
.qrest-team-section-s3 {
    .team-single-content {
        border-radius: 10px;
        background-color: #f6f4f4;
        position: relative;
        box-shadow: 0px 0px 6px 0px transparent;
        padding: 30px;
        overflow: visible;

        .image {
            margin: 0 auto;
            width: 292px;
            height: 292px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            z-index: 1;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                width: 0;
                height: 100%;
                background-color: rgb(248, 177, 5);
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                z-index: 11;
            }

            img {
                border-radius: 50%;
            }
        }

        &:hover {
            .image {
                &::before {
                    opacity: 0.878;
                    visibility: visible;
                    width: 100%;
                }
            }
        }

        .icon {
            display: inline;
            left: 34%;
            top: 30%;
            transition: all 0.3s ease-in-out;
            z-index: 11;

            li {
                display: inline-block;

                a {
                    background: $white;
                    color: $theme-primary-color-s3;
                    border: 1px solid transparent;
                    margin-right: 10px;
                    margin-bottom: 0;

                    &:hover {
                        border: 1px solid $white;
                        background: transparent;
                        color: $white;
                    }
                }
            }
        }

        .content {
            background: $white;
            padding: 20px 0;
            margin: 0 10px;
            margin-top: 20px;

            h2 {
                a {
                    &:hover {
                        color: $theme-primary-color-s3;
                    }
                }
            }
        }
    }

    .owl-dots button.owl-dot.active {
        background-color: $theme-primary-color-s3;
    }
}

/* qrest-compny-solution-section */
.qrest-compny-solution-section {
    position: relative;
    z-index: 1;

    .bg-img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
}

.compny-solution-left {
    text-align: end;

    .single-item {
        max-width: 400px;
        max-height: 450px;
        border: 10px solid $white;
        border-radius: 5px;
        display: inline-block;
        margin-right: 50px;

        img {
            width: 100%;
        }
    }
}

.compny-solution-right {
    margin-right: 50px;

    .qrest-section-title-s3 {
        text-align: left;
        margin-bottom: 30px;
        margin-right: 110px;

        h2 {
            color: $white;
        }

        p {
            font-size: 17px;
            font-family: "Rubik";
            color: #fdfdff;
        }
    }


    ul {
        list-style: none;
        margin-bottom: 50px;

        li {
            padding-left: 30px;
            position: relative;
            font-size: 17px;
            font-family: $heading-font;
            color: $heading-font;
            line-height: 1.588;
            color: #fdfdff;


            &::before {
                content: "\eed8";
                font-family: IcoFont !important;
                width: 20px;
                height: 20px;
                top: 3px;
                line-height: 22px;
                border-radius: 100%;
                color: $white;
                text-align: center;
                background: $theme-primary-color-s3;
                left: 0;
                position: absolute;
            }

        }
    }
}

/* qrest-blog-section-s3 */
.qrest-blog-section-s3 {
    .blog-card-single {
        position: relative;
        z-index: 1;

        .images {
            position: relative;
            z-index: -1;
            margin-bottom: -65px;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgb(24, 39, 54);
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                transition: all .3s ease-in-out;
            }

            a {
                font-size: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                background: #ecf2f7;
                color: $theme-primary-color-s3;
                transition: all .3s ease-in-out;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                opacity: 0;
                visibility: hidden;
            }
        }

        .card-text {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 117px 0px rgba(12, 62, 185, 0.08);
            padding: 30px;
            margin: 0 15px;
            margin-bottom: 30px;

            .top-text {
                margin-top: 0;

                strong {
                    padding: 0;
                    background: transparent;
                    color: rgb(99, 99, 99);
                    text-transform: capitalize;
                    font-weight: 400;
                }

                span {
                    position: relative;
                    padding: 0;
                    padding-left: 25px;
                    font-size: 16px;
                    color: rgb(99, 99, 99);


                    &::before {
                        position: absolute;
                        left: 9px;
                        top: 7px;
                        content: "";
                        width: 6px;
                        height: 6px;
                        border-radius: 50px;
                        background: $theme-primary-color-s3;
                    }
                }
            }

            h2 {
                margin-top: 10px;
            }

            p {
                padding-bottom: 0;
                margin-bottom: 0;
                border: transparent;
                padding-right: 0;
            }
        }

        &:hover {
            .images {

                &::before {
                    opacity: 0.651;
                    visibility: visible;
                }

                a {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        text-align: center;
        margin-top: 35px;
    }

    .owl-dots button.owl-dot {
        width: 25px;
        height: 10px;
        border-radius: 100px;
        display: inline-block;
        background: #a4b6c0;
        margin: 0 7px;
        position: relative;
        border: 0;
    }

    .owl-dots button.owl-dot.active {
        background-color: $theme-primary-color-s3;
        width: 40px;
    }

}