/*------------------------------------
	blog sidebar
------------------------------------*/
.blog-sidebar {
    padding-left: 45px;


	@include media-query(991px) {
		margin-top: 80px;
		max-width: 400px;
		padding-left: 0;
	}

	@include media-query(767px) {
		margin-top: 60px;
		max-width: 400px;
	}

	.widget {

		h3 {
			font-size: 23px;
			color: $dark-gray;
			margin: 0;
			position: relative;
			text-transform: capitalize;
			font-family: $heading-font;
			padding-bottom: 20px;
			font-weight: 700;

		}
	}

	>.widget+.widget {
		margin-top: 65px;
	}


	/*** search-widget ***/
	.search-widget {
		form div {
			position: relative;
		}

		input {
			height: 70px;
			font-size: 16px;
			padding: 6px 50px 6px 20px;
			border: 0;
			border-radius: 5px;
			box-shadow: none;
			@include transition-time(0.3s);
			border: 1px solid $border-color-s2;
		}

		input:focus {
			background-color: transparentize($theme-primary-color, 0.9);
		}

		form button {
			background: transparent;
			font-size: 20px;
			font-size: calc-rem-value(20);
			color: $white;
			background-color: $theme-primary-color;
			border: 0;
			outline: 0;
			position: absolute;
			right: 10px;
			top: 52%;
			height: 50px;
			line-height: 50px;
			width: 50px;
			border-radius: 6px;
			@include translatingY();
		}
	}

	.service-single-item {
		margin-top: 40px;
		z-index: 1;
	}




	/*** category-widget ***/
	.category-widget {
		border: 1px solid #dddddd;
		padding: 30px;
		margin-top: 65px;

		ul {
			list-style: none;
		}

		ul li {
			font-size: 19px;
			position: relative;

			@include media-query(767px) {
				font-size: 16px;
			}

			span {
				position: absolute;
				right: 0;
			}
		}

		ul>li+li {
			margin-top: 12px;
			padding-top: 12px;
		}

		ul a {
			display: block;
			font-size: 17px;
			font-family: $heading-font;
			color: rgb(99, 99, 99);
			padding-left: 20px;
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				top: 5px;
				line-height: 20px;
				content: "\ea94";
				font-family: IcoFont !important;
			}

			span {
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				background-color: $section-bg-color;
				text-align: center;
				border-radius: 50%;
				font-size: 18px;

				@include media-query(767px) {
					font-size: 14px;
				}
			}
		}

		ul a:hover,
		ul li:hover:before {
			color: $theme-primary-color;
		}
	}


	/*** recent-post-widget ***/
	.recent-post-widget {
		border: 1px solid #dddddd;
		padding: 30px;

		.post {
			overflow: hidden;
		}

		.posts>.post+.post {
			margin-top: 15px;
			padding-top: 15px;
		}

		.post .img-holder {
			width: 90px;
			float: left;


		}

		.post .details {
			width: calc(100% - 90px);
			float: left;
			padding-left: 20px;
		}

		.post h4 {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.3em;
			margin: 0 0 0.3em;
			font-family: $base-font;

			@include media-query(1199px) {
				margin: 0;
			}

			@include media-query(767px) {
				font-size: 16px;
			}
		}

		.post h4 a {
			display: inline-block;
			color: $heading-color;
		}

		.post h4 a:hover {
			color: $theme-primary-color;
		}

		.post .details .date {
			font-size: 13px;
			font-size: 14px;
			font-family: "Rubik";
			color: rgb(99, 99, 99);


			i {
				display: inline-block;
				padding-right: 7px;
			}
		}
	}


	/*** tag-widget ***/
	.tag-widget {
		border: 1px solid #dddddd;
		padding: 30px;

		ul {
			overflow: hidden;
			list-style: none;
		}

		ul li {
			float: left;
			margin: 0 8px 8px 0;
		}

		ul li a {
			display: inline-block;
			padding: 5px 18px;
			background: transparent;
			border: 1px solid #dddddd;
			font-size: 17px;
			font-family: $heading-font;
			color: #636363;
		}

		ul li a:hover {
			background: $theme-primary-color;
			color: $white;
		}
	}


}
@media (max-width: 767px){
	.blog-sidebar {
		margin-top: 60px;
		max-width: 400px;
	}

}