.qrest-section-title {
	margin-bottom: 60px;

	@include media-query(767px) {
		margin-bottom: 40px;
	}

	span {
		position: relative;
		width: 30px;
		height: 5px;
		background: $theme-primary-color;
		display: block;
		left: 46%;
		top: -17px;
		transform: translateY(-50%);

		&:before {
			position: absolute;
			width: 5px;
			height: 5px;
			background: $theme-primary-color-s2;
			content: "";
			left: -9px;
			top: 2px;
			transform: translateY(-50%);
		}

		&::after {
			position: absolute;
			width: 5px;
			height: 5px;
			background: $theme-primary-color-s2;
			content: "";
			right: -9px;
			top: 2px;
			transform: translateY(-50%);
		}
	}

	h2 {
		font-size: 40px;
		line-height: 55px;
		margin: 0;
		position: relative;
		text-transform: capitalize;
		font-family: $base-font;
		font-weight: 700;
		text-align: center;


		@media (max-width:991px) {
			font-size: 36px;
			line-height: 55px;
		}

		@include media-query(767px) {
			font-size: 32px;
			line-height: 40px;
		}

		@include media-query(330px) {
			font-size: 30px;
		}

	}

	p {
		font-size: 18px;
	}

}

.qrest-section-title-s2 {
	text-align: left;
	margin-bottom: 60px;

	@include media-query(767px) {
		margin-bottom: 40px;
	}

	h4 {
		font-size: 22px;
		font-family: $heading-font;
		color: $theme-primary-color;
		text-decoration: underline;

	}

	h2 {
		font-size: 40px;
		line-height: 55px;
		margin: 0;
		position: relative;
		text-transform: capitalize;
		font-family: $base-font;
		font-weight: 700;
		margin-bottom: 15px;

		@media (max-width:991px) {
			font-size: 36px;
			line-height: 55px;
		}

		@include media-query(767px) {
			font-size: 32px;
			line-height: 40px;
		}

		@include media-query(330px) {
			font-size: 30px;
		}

	}

	p {
		font-size: 17px;
		font-family: $base-font;
		color: $text-light-color;
		font-weight: 400;
	}
}

.qrest-section-title-s3 {
	text-align: center;
	margin-bottom: 60px;

	@include media-query(767px) {
		margin-bottom: 40px;
	}

	span {
		color: $theme-primary-color-s3;
		font-size: 17px;
		font-family: $heading-font;
		text-transform: uppercase;
		padding-left: 10px;
		position: relative;
		font-weight: 500;

		&::before {
			position: absolute;
			left: 0;
			top: 7px;
			transform: translateX(-50%);
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $theme-primary-color-s3;
		}

	}

	h2 {
		font-size: 40px;
		line-height: 55px;
		margin: 0;
		position: relative;
		text-transform: capitalize;
		font-family: $base-font;
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 15px;
		color: rgb(26, 30, 42);

		@media (max-width:991px) {
			font-size: 36px;
			line-height: 55px;
		}

		@include media-query(767px) {
			font-size: 32px;
			line-height: 40px;
		}

		@include media-query(330px) {
			font-size: 30px;
		}

	}

	p {
		font-size: 17px;
		font-family: $base-font;
		color: $text-light-color;
		font-weight: 400;
	}
}
.qrest-section-title-s4 {
	text-align: center;
	margin-bottom: 60px;

	@include media-query(767px) {
		margin-bottom: 40px;
	}

	span {
		color: $white;
		font-size: 17px;
		font-family: $heading-font;
		text-transform: uppercase;
		padding-left: 10px;
		position: relative;
		font-weight: 400;
		background:$theme-primary-color-s4;
		padding:5px 15px;
		padding-left: 25px;
		
		  

		&::before {
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $white;
		}

	}

	h2 {
		font-size: 40px;
		line-height: 55px;
		margin: 0;
		position: relative;
		text-transform: capitalize;
		font-family: $base-font;
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 15px;
		color: rgb(26, 30, 42);

		@media (max-width:991px) {
			font-size: 36px;
			line-height: 55px;
		}

		@include media-query(767px) {
			font-size: 32px;
			line-height: 40px;
		}

		@include media-query(330px) {
			font-size: 30px;
		}

	}

	p {
		font-size: 17px;
		font-family: $base-font;
		color: $text-light-color;
		font-weight: 400;
	}
}
  