/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*3.1 qrest-hero-slider*/

// .qrest-hero-slider,
// .static-hero,
// .qrest-hero-slider-s2 {
// 	width: 100%;
// 	height: 900px;
// 	display: flex;
// 	position: relative;
// 	z-index: 0;

// 	@include media-query(991px) {
// 		height: 600px;
// 	}

// 	@include media-query(767px) {
// 		height: 500px;
// 	}

// 	.swiper-slide {
// 		overflow: hidden;
// 	}

// 	.swiper-container,
// 	.hero-container {
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 	}

// 	.slide-inner,
// 	.hero-inner {
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		z-index: 1;
// 		background-size: cover;
// 		background-position: center;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: left;

// 		&:before{
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			width: 100%;
// 			height: 100%;
// 			background: #040128;
// 			content: "";
// 			opacity: .6;
// 		}

// 		.slide-content{
// 			padding-bottom: 85px;
// 			padding-left: 240px;

// 			@media(max-width:1700px){
// 				padding-left: 140px;
// 			}
// 			@media(max-width:991px){
//               padding-bottom: 0;
// 			  padding-left: 30px;
// 			}
// 			@media(max-width:767px){
// 			  padding-left: 10px;
// 			}
// 		}
// 	}

// 	// slider controls
// 	.swiper-button-prev,
// 	.swiper-button-next {
// 		background: transparentize($white, 0.8);
// 		width: 60px;
// 		height: 60px;
// 		line-height: 60px;
// 		border: 2px solid $white;
// 		border-radius: 50%;
// 		opacity: 0.7;
// 		text-align: center;
// 		@include transition-time(0.3s);

// 		&:hover {
// 			opacity: 0.9;
// 		}

// 		@include media-query(767px) {
// 			display: none;
// 		}
// 	} 

// 	.swiper-button-prev {
// 		left: 25px;

// 		&:before {
// 			font-family: "themify";
// 			content: "\e629";
// 		    font-size: 20px;
// 		    color: #fff;
// 		}
// 	}

// 	.swiper-button-next {
// 		right: 25px;

// 		&:before {
// 			font-family: "themify";
// 			content: "\e628";
// 		    font-size: 20px;
// 		    color: #fff;
// 		}
// 	}

// 	.swiper-button-prev,
// 	.swiper-button-next {
// 		@include media-query(991px) {
// 			display: none;
// 		}
// 	}

// 	.swiper-pagination-bullet {
// 		width: 12px;
// 		height: 12px;
// 		text-align: center;
// 		line-height: 12px;
// 		font-size: 12px;
// 		color:#000;
// 		opacity: 1;
// 		background: rgba(255,255,255,0.2);

// 		@include widther(992px) {
// 			display: none;
// 		}
// 	}

// 	.swiper-pagination-bullet-active {
// 		color:#fff;
// 		background: $white;
// 		width: 12px;
// 		height: 12px;
// 		text-align: center;
// 		line-height: 12px;
// 	}

// 	.swiper-container-horizontal>.swiper-pagination-bullets, 
// 	.swiper-pagination-custom, .swiper-pagination-fraction {
// 		bottom: 30px;
// 	}

// 	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
// 	    margin: 0 8px;
// 	}
// }


// .qrest-hero-slider,
// .static-hero,
// .qrest-hero-slider-s2{

// 	@include media-query(1199px) {
// 		height: 680px;
// 	}

// 	@include media-query(991px) {
// 		height: 600px;
// 	}

// 	@include media-query(767px) {
// 		height: 500px;
// 	}


// 	.gradient-overlay {
// 		@include linear-gradient-bg(left, $dark-gray 45%, transparent 65%);
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		z-index: 10;
// 		opacity: .6;
// 	}

// 	.gradient-overlay + .container {
// 		position: relative;
// 		z-index: 11;
// 	}

// 	.swiper-slide {
// 		position: relative;
// 		z-index: 11;
// 	}

// 	.qrest-hero-title-top{
// 		span{
// 			font-size: 22px;
// 			color: #e4e4e4;
// 			font-family: $heading-font;

// 			@include media-query(767px) {
// 				font-size: 15px;
// 			}

// 		}
// 	}

// 	.slide-title {
// 		max-width: 712px;

// 		@include media-query(1199px) {
// 			max-width: 555px;
// 		}


// 		h2 {
// 			font-size: 70px;
// 			font-weight: 900;
// 			line-height: 90px;
// 			margin:10px 0 15px;
// 			color: $white;

// 			@include media-query(1199px) {
// 				font-size: 50px;
// 				font-size: calc-rem-value(50);
// 			}

// 			@include media-query(991px) {
// 				font-size: 40px;
// 				font-size: calc-rem-value(40);
// 				line-height: 55px;
// 			}

// 			@include media-query(767px) {
// 				font-size: 30px;
// 				font-size: calc-rem-value(30);
// 				line-height: 36px;
// 			}
// 		}
// 	}

// 	.slide-text {
// 		max-width: 680px;

// 		@include media-query(767px) {
// 			max-width: 500px;
// 		}

// 		p {
// 			font-size: 22px;
// 			color: $white;
// 			line-height: 35px;
// 			max-width: 680px;
// 			margin-bottom: 40px;
// 			color: #e2e2e2;

// 			@include media-query(991px) {
// 				font-size: 18px;
// 				font-size: calc-rem-value(18);
// 			}

// 			@include media-query(767px) {
// 				font-size: 16px;
// 				font-size: calc-rem-value(16);
// 				line-height: 22px;
// 				margin-bottom: 30px;
// 			}
// 		}		
// 	}


// 	.slide-btns {
// 		@include media-query(991px) {
// 			max-width: 400px;
// 		}

// 		.theme-btn{
// 			border-radius: 0;
// 			color: $dark-gray;
// 			font-weight: 600;
// 			font-size: 18px;

// 			&:after{
// 				border-radius: 0;
// 			}
// 		}
// 	}


// 	.slide-btns .hero-video-btn {
// 		margin-left: 40px;

// 		@include media-query(767px) {
// 			margin-left: 20px;
// 		}
// 	}
// }


// .qrest-hero-slider-s2{

// 	height: 1000px;

// 	@include media-query(1199px) {
// 		height: 680px;
// 	}

// 	@include media-query(991px) {
// 		height: 600px;
// 	}

// 	@include media-query(767px) {
// 		height: 500px;
// 	}

// 	.hero-inner,
// 	.slide-inner{
// 		.slide-content {
// 	       padding-bottom: 0;
// 		   padding-top: 40px;
// 		}
// 	}

// }



/*-------------------------------------------
	hero style 1
--------------------------------------------*/
.static-hero {
	height: 990px;
	display: flex;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-top: -95px;

	@include media-query(1199px) {
		height: 680px;
	}

	@include media-query(991px) {
		height: 600px;
	}

	@include media-query(767px) {
		height: 500px;
	}

	.background-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
		}
	}

	.single-img {
		position: absolute;
		left: 57%;
		top: 16%;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.shape-10 {
		position: absolute;
		left: 0;
		top: 120px;
		z-index: -1;
	}

	.shape-11 {
		position: absolute;
		left: 79px;
		top: 88%;
		z-index: -1;
	}

	.shape-12 {
		position: absolute;
		left: 50%;
		top: 90px;
		z-index: -1;
	}

	.hero-inner .container {
		position: relative;

	}

	.hero-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
	}

	.text {

		.sub-title {
			font-size: 19px;
			font-family: $heading-font;
			color: $theme-primary-color;
			text-transform: uppercase;
			border: 1px solid $theme-primary-color;
			border-radius: 50px;
			padding: 10px 20px;
			font-weight: 500;
		}

		.title {
			font-size: 70px;
			font-family: $base-font;
			color: $heading-color;
			font-weight: 700;
			margin-top: 24px;
			margin-bottom: 15px;
		}

		p {
			font-size: 17px;
			font-family: $heading-font;
			color: #636363;
			font-weight: 500;
		}
	}

	.hero-botom {
		display: flex;
		align-items: center;
		margin-top: 50px;
	}

	.video-item {
		display: inline-block;
	}

	.video-btn {
		display: inline-block;
		width: 55px;
		height: 55px;
		line-height: 61px;
		text-align: center;
		background: $theme-primary-color-s2;
		border-radius: 50%;
		margin-left: 45px;
		position: relative;


		&:before {
			position: absolute;
			left: -10px;
			top: -10px;
			width: 140%;
			height: 140%;
			background: rgb(59, 81, 125);
			content: "";
			border-radius: 50%;
			z-index: -1;
			-webkit-animation: spineer 2s infinite;
			animation: spineer 2s infinite;
		}

		i {
			font-size: 18px;
			color: $white;
		}
	}

	.side-text-logo {
		top: 130px;
		right: -30px;
		h2{
			-webkit-text-stroke-color: #c3c7ca;
		}
	}


}

@-webkit-keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}

@keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}