/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*-------------------------------------------
	3.1 qrest-static-hero
--------------------------------------------*/
.static-hero,
.static-hero-style-2,
.static-hero-style-3,
.static-hero-style-4 {
	height: 990px;
	display: flex;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-top: -95px;
	background: url(../images/slider/slide-1.jpg);

	@include media-query(1199px) {
		height: 800px;
	}

	@include media-query(991px) {
		height: 600px;
	}



	.background-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
		}
	}

	.single-img {
		position: absolute;
		left: 57%;
		top: 10%;
		width: 100%;
		height: 100%;
		z-index: -1;

		@media (max-width:1399px) {
			left: 50%;
			top: 15%;
		}

		@media (max-width:991px) {
			display: none;
		}
	}

	.shape-10 {
		position: absolute;
		left: 0;
		top: 120px;
		z-index: -1;

		@media (max-width:1199px) {
			display: none;
		}

	}

	.shape-11 {
		position: absolute;
		left: 79px;
		top: 88%;
		z-index: -1;

		@media (max-width:1399px) {
			display: none;
		}
	}

	.shape-12 {
		position: absolute;
		left: 50%;
		top: 90px;
		z-index: -1;

	}

	.hero-inner .container {
		position: relative;

	}

	.hero-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
	}

	.text {
		@media (max-width:991px) {
			margin-top: 70px;
		}

		@media (max-width:767px) {
			margin-top: 90px;
		}

		.sub-title {
			font-size: 19px;
			font-family: $heading-font;
			color: $theme-primary-color;
			text-transform: uppercase;
			border: 1px solid $theme-primary-color;
			border-radius: 50px;
			padding: 10px 20px;
			font-weight: 500;
		}

		.title {
			font-size: 70px;
			font-family: $base-font;
			color: $heading-color;
			font-weight: 700;
			margin-top: 24px;
			margin-bottom: 15px;

			@media (max-width:1399px) {
				font-size: 60px;
			}

			@media (max-width:1399px) {
				font-size: 40px;
			}
		}

		p {
			font-size: 17px;
			font-family: $heading-font;
			color: #636363;
			font-weight: 400;

			@media (max-width:991px) {
				font-size: 15px;
			}
		}
	}

	.hero-botom {
		display: flex;
		align-items: center;
		margin-top: 50px;
	}

	.video-item {
		display: inline-block;
	}

	.video-btn {
		display: inline-block;
		width: 55px;
		height: 55px;
		line-height: 61px;
		text-align: center;
		background: $theme-primary-color-s2;
		border-radius: 50%;
		margin-left: 45px;
		position: relative;


		&:before {
			position: absolute;
			left: -10px;
			top: -10px;
			width: 140%;
			height: 140%;
			background: rgb(59, 81, 125);
			content: "";
			border-radius: 50%;
			z-index: -1;
			-webkit-animation: spineer 2s infinite;
			animation: spineer 2s infinite;
		}

		i {
			font-size: 18px;
			color: $white;
		}
	}

	.side-text-logo {
		top: 130px;
		right: -30px;

		@media (max-width:1699px) {
			top: 172px;
			right: -140px;
		}

		@media (max-width:1399px) {
			top: 172px;
			right: -72px;
		}

		h2 {
			-webkit-text-stroke-color: #c3c7ca;

			@media (max-width:1399px) {
				font-size: 100px;
			}
		}
	}


}

@-webkit-keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}

@keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}


/* static-hero-style-2 */
.static-hero-style-2 {
	background-color: rgb(226, 246, 253);
	background-image: none;
	margin-top: 0;
	height: 800px;

	@media (max-width:1399px) {
		height: 650px;
	}

	.text {
		border-radius: 30px;
		background-color: rgb(255, 255, 255);
		padding-top: 80px;
		padding-left: 50px;
		padding-bottom: 80px;
		padding-right: 60px;
		position: relative;
		left: -100px;

		@media (max-width:1499px) {
			left: -40px;
		}

		@media (max-width:1399px) {
			left: 0px;
		}

		@media (max-width:991px) {
			margin-top: 0;
		}

		@media (max-width:767px) {
			padding: 20px;
		}

		.sub-title {
			font-size: 22px;
			font-family: $heading-font;
			color: $theme-primary-color;
			text-decoration: underline;
			border: transparent;
			text-transform: capitalize;
			font-weight: 700;
			padding: 0;
		}


		.title {

			span {
				color: $theme-primary-color;
			}
		}

		p {
			padding-right: 150px;

			@media (max-width:767px) {
				padding-right: 0;
			}
		}

		.theme-btn-s2 {
			@media (max-width:767px) {
				padding: 15px 22px;
				padding-right: 95px;
			}

			&::after {
				@media (max-width:767px) {
					font-size: 20px;
					line-height: 40px;
				}
			}
		}

		.shape {
			position: absolute;
			right: 20px;
			bottom: 0;

			@media (max-width:767px) {
				display: none;
			}
		}
	}


	.single-img {
		position: absolute;
		left: 53%;
		top: 0;
		width: 876px;
		height: 100%;
		z-index: -1;

		@media (max-width:1599px) {
			left: 50%;
		}

		@media (max-width:1499px) {
			width: 800px;
			top: 8%;
		}

		@media (max-width:1399px) {
			width: 700px;
			top: 2%;
		}


		@media (max-width:991px) {
			display: none;
		}

		img {
			width: 100%;
			object-fit: cover;
		}

	}


}

/* static-hero-style-3 */
.static-hero-style-3,
.static-hero-style-4 {
	height: 1030px;
	z-index: 1;
	background: transparent;
	top: -60px;
	left: 0;
	width: 100%;

	@media (max-width:1399px) {
		height: 900px;
	}

	@media (max-width:991px) {
		height: 800px;
		top: -96px;
	}

	@media (max-width:767px) {
		height: 650px;
		top: -132px;
	}

	.overly {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgb(26, 30, 42);
		border-bottom-right-radius: 602px 400px;
		z-index: -1;

		@media (max-width:1799px) {
			border-bottom-right-radius: 267px 320px;
		}

		@media (max-width:1679px) {
			border-bottom-right-radius: 200px 220px;
		}

		@media (max-width:1199px) {
			border-bottom-right-radius: 0;
		}
	}

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgb(26, 30, 42);
		opacity: 0.439;
		z-index: -11;
		border-bottom-right-radius: 535px 320px;
	}

	&::after {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgb(26, 30, 42);
		opacity: 0.722;
		z-index: -11;
		border-bottom-right-radius: 560px 355px;
	}

	.shape {
		width: 240px;
		height: 510px;
		position: absolute;
		left: -10px;
		top: 50%;
		transform: translateY(-50%);

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			background: #242733;
			border-radius: 12px;
			z-index: -1;
		}

		&::after {
			position: absolute;
			left: 0;
			top: 50%;
			content: "";
			width: 180px;
			height: 430px;
			background: #272b37;
			border-radius: 12px;
			z-index: -1;
			transform: translateY(-50%);
		}
	}


	.text {
		@media (max-width:757px) {
			margin-top: 150px;
		}

		.sub-title {
			color: $white;
			border: transparent;
			padding: 0;
			border-radius: 0;
			font-size: 65px;
			font-family: $heading-font;
			font-weight: 700;
			text-transform: capitalize;
			margin: 0;

			@media (max-width:767px) {
				font-size: 40px;
			}

			@media (max-width:575px) {
				font-size: 30px;
			}
		}

		.title {
			margin: 0;
			font-size: 147px;
			font-family: $heading-font;
			font-weight: 700;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $theme-primary-color-s3;
			margin-top: -35px;
			margin-bottom: 30px;

			@media (max-width:991px) {
				font-size: 130px;
			}

			@media (max-width:767px) {
				font-size: 100px;
				margin-top: 0;
			}

			@media (max-width:575px) {
				font-size: 70px;
			}
		}

		p {
			color: $white;
		}

	}

	.hero-botom {


		.video-item {

			.video-btn-s2 {
				display: inline-block;
				width: 55px;
				height: 55px;
				line-height: 61px;
				text-align: center;
				background: $theme-primary-color-s3;
				border-radius: 50%;
				position: relative;


				&:before {
					position: absolute;
					left: -8px;
					top: -8px;
					width: 130%;
					height: 130%;
					content: "";
					border-radius: 50%;
					z-index: -1;
					border: 1px solid $theme-primary-color-s3;
				}

				&::after {
					position: absolute;
					left: -12px;
					top: -13px;
					width: 145%;
					height: 145%;
					content: "";
					border-radius: 50%;
					z-index: -1;
					border: 1px solid $theme-primary-color-s3;
				}

				i {
					font-size: 18px;
					color: $white;
				}

			}
		}

		span {
			font-size: 18px;
			color: $white;
			text-decoration: underline;
			margin-left: 50px;
		}
	}

	.single-img {
		width: 600px;
		height: 850px;
		position: absolute;
		right: 0;
		top: 19%;
		overflow: hidden;

		@media (max-width:1399px) {
			width: 500px;
			height: 700px;
			top: 28%;
		}

		img {
			width: 100%;
		}

		&::before {
			position: absolute;
			left: 50%;
			bottom: 101px;
			content: "";
			width: 570px;
			height: 400px;
			background: #242733;
			z-index: -1;
			transform: translateX(-50%);
			clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
		}


	}

	.side-text-logo {
		top: 262px;
		right: -30px;

		h2 {
			-webkit-text-stroke-color: #434444;
		}
	}
}

/* static-hero-style-4 */
.static-hero-style-4 {
	background-color: rgb(36, 37, 42);
	height: 900px;
	top: 0;

	@media (max-width:991px) {
		height: 600px;
		top: 0;
		margin-top: -101px;
	}

	@media (max-width:767px) {
		height: 500px;
	}

	@media (max-width:575px) {
		height: 550px;
	}

	&::before {
		display: none;
	}

	&::after {
		display: none;
	}

	.text {
		margin-top: 150px;

		@media (max-width:991px) {
			margin-top: 80px;
		}

		@media (max-width:767px) {
			margin-top: 50px;
		}

		@media (max-width:575px) {
			margin-top: 100px;
		}

		h2 {
			font-size: 56px;
			font-family: $heading-font;
			color: $white;
			font-weight: 700;

			@media (max-width:1199px) {
				font-size: 40px;
			}

			@media (max-width:767px) {
				font-size: 30px;
			}

		}

	}

	ul {
		list-style: none;
		margin-bottom: 40px;

		li {
			padding-left: 30px;
			position: relative;
			font-size: 17px;
			font-family: $heading-font;
			line-height: 1.588;
			color: $white;
			margin-bottom: 10px;

			&::before {
				content: "\eed8";
				font-family: IcoFont !important;
				width: 20px;
				height: 20px;
				top: 3px;
				line-height: 22px;
				border-radius: 100%;
				color: $white;
				text-align: center;
				background: $theme-primary-color-s4;
				left: 0;
				position: absolute;
			}

		}
	}

	.theme-btn {
		background: $theme-primary-color-s4;
		padding: 15px 30px;

		&:hover {
			background: darken($theme-primary-color-s4, 8%);
		}


		@media (max-width:991px) {
			font-size: 15px;
		}
	}

	.image-s4 {
		position: absolute;
		right: 15%;
		bottom: 20px;
		width: 500px;
		z-index: 1;

		@media (max-width:1799px) {
			right: 12%;
		}

		@media (max-width:1699px) {
			right: 8%;
		}

		@media (max-width:1399px) {
			right: 0;
		}

		@media (max-width:991px) {
			display: none;
		}

		.shape-4 {
			width: 400px;
			height: 400px;
			background: #eef0f4;
			border-radius: 50%;
			position: absolute;
			top: -50px;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}
	}

	.shape-41 {
		position: absolute;
		left: -200px;
		top: 200px;
		width: 150px;
		z-index: -1;

		@media (max-width:1799px) {
			left: -150px;
		}

		@media (max-width:1499px) {
			display: none;
		}
	}

	.shape-img {
		position: absolute;
		right: 0;
		top: 0;
	}

	.shape-43 {
		position: absolute;
		left: -100px;
		top: -100px;

		@media (max-width:1599px) {
			left: -150px;
			top: -150px;
		}

		@media (max-width:1199px) {
			display: none;
		}
	}

	.shape-44 {
		position: absolute;
		bottom: -200px;
		left: -300px;
	}



	.progressbar-hero {
		position: absolute;
		right: 1%;
		top: 34%;
		z-index: 1;
		background: rgb(238, 240, 244);
		width: 350px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: left;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 10px;

		@media (max-width:1699px) {
			width: 280px;
			right: 0%;
		}
		@media (max-width:1499px) {
			width: 270px;
			right: 0%;
		}
		@media (max-width:1399px) {
			display: none;
		}

		.progre-text {
			margin-left: 10px;

			h4 {
				font-size: 22px;
				font-family: $heading-font;
				color: rgb(26, 27, 30);
				@media (max-width:1399px) {
					font-size: 14px;
					margin-bottom: 0;	
				}
			}

			span {
				font-size: 17px;
				color: rgb(99, 99, 99);
				@media (max-width:1399px) {
					font-size: 14px;	
				}
			}
		}



		@keyframes growProgressBar {

			0%,
			33% {
				--pgPercentage: 0;
			}

			100% {
				--pgPercentage: var(--value);
			}
		}

		@property --pgPercentage {
			syntax: '<number>';
			inherits: false;
			initial-value: 0;
		}

		div[role="progressbar"] {
			--size: 5rem;
			--fg: #f5af07;
			--bg: #a1a1a1;
			--pgPercentage: var(--value);
			animation: growProgressBar 3s 1 forwards;
			width: var(--size);
			height: var(--size);
			border-radius: 50%;
			display: inline-grid;
			place-items: center;
			background:
				radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
				conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
			font-family: Helvetica, Arial, sans-serif;
			font-size: calc(var(--size) / 5);
			color: var(--fg);
		}

		div[role="progressbar"]::before {
			counter-reset: percentage var(--value);
			content: counter(percentage) '%';
			color: #000;
		}


	}
}

/* static-hero-style-5 */
.static-hero-style-5 {
	background: url(../images/slider/slider-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: -96px;

	@media (max-width:991px) {
		margin-top: -101px;
	}

	.text .title {
		color: $white;
	}

	.text p {
		color: $white;
	}

	.video-item {
		margin-left: 50px;

		.video-btn-s2 {
			display: inline-block;
			width: 55px;
			height: 55px;
			line-height: 61px;
			text-align: center;
			background: $white;
			border-radius: 50%;
			position: relative;


			&:before {
				position: absolute;
				left: -8px;
				top: -8px;
				width: 130%;
				height: 130%;
				content: "";
				border-radius: 50%;
				z-index: -1;
				background: rgba(255, 255, 255, 0.699);
			}



			i {
				font-size: 18px;
				color: $theme-primary-color-s5;
			}

		}
	}


}

/* qrest-header-style-6 */

.static-hero-style-6 {
	background: transparent;
	height: 900px;
	position: relative;

	@media (max-width:1399px) {
		height: 700px;
	}

	@media (max-width:1199px) {
		height: 650px;
	}

	@media (max-width:767px) {
		height: 600px;
	}

	.text {
		@media (max-width:1399px) {
			max-width: 600px;
		}

		@media (max-width:767px) {
			margin-top: 0;
		}

		.title {
			color: $white;

			@media (max-width:1399px) {
				font-size: 55px;
			}

			@media (max-width:767px) {
				font-size: 40px;
			}

			span {
				color: $theme-primary-color-s6;
			}
		}

		p {
			color: $white;

			@media (max-width:1399px) {
				max-width: 500px;
			}
		}
	}

	.video-item {
		margin-left: 50px;

		.video-btn-s2 {
			display: inline-block;
			width: 55px;
			height: 55px;
			line-height: 61px;
			text-align: center;
			background: $white;
			border-radius: 50%;
			position: relative;


			&:before {
				position: absolute;
				left: -8px;
				top: -8px;
				width: 130%;
				height: 130%;
				content: "";
				border-radius: 50%;
				z-index: -1;
				background: rgba(255, 255, 255, 0.699);
			}



			i {
				font-size: 18px;
				color: $theme-primary-color-s5;
			}

		}
	}


	.hero-slider {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		.hero-bg-single {
			position: relative;
			width: 100%;
			height: 900px;
			object-fit: cover;

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.769;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}


	.hero-img {
		position: absolute;
		right: 50px;
		top: 50%;
		transform: translateY(-50%);

		@media (max-width:1399px) {
			max-width: 500px;
		}
		@media (max-width:1199px) {
			max-width: 350px;
		}

		@media (max-width:991px) {
			display: none;
		}
	}

	.shape-52 {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;

		@media (max-width:1399px) {
			bottom: -150px;
			right: -150px;
		}
	
	}
	.shape-55 {
		position: absolute;
		top: 20%;
		left: 90px;
		z-index: -1;

		@media (max-width:1399px) {
			display: none;
		}
	
	}
}

/* .static-hero-style-7 */
.static-hero-style-7 {
	position: relative;
	margin-top: -152px;
	background: url(../images/slider/slide-5.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (max-width:991px) {
		height: 800px;
		margin-top: -160px;
	}

	@media (max-width:767px) {
		height: 700px;
		margin-top: -195px;
	}

	@media (max-width:575px) {
		margin-top: -228px;
	}

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background: #1e3c89;
		opacity: 0.58;
	}

	.hero-contnt {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
	}

	.text {
		margin-top: 55px;

		@media (max-width:767px) {
			margin-top: 150px;
		}

		@media (max-width:575px) {
			margin-top: 200px;
		}

		.sub-title {
			font-size: 24px;
			font-family: $heading-font;
			color: $white;
			font-style: italic;
			text-transform: uppercase;
			text-decoration: underline;
			border: 0;
			padding: 0;

			@media (max-width:575px) {
				font-size: 20px;
			}

			@media (max-width:499px) {
				font-size: 17px;
			}
		}

		.title {
			font-size: 60px;
			font-family: $heading-font;
			color: $white;
			font-weight: 700;

			@media (max-width:767px) {
				font-size: 50px;
			}

			@media (max-width:575px) {
				font-size: 40px;
			}

			@media (max-width:499px) {
				font-size: 30px;
			}
		}

		p {
			font-size: 18px;
			color: $white;
		}
	}


	.hero-botom {
		justify-content: center;
	}

	.video-item {
		margin-left: 50px;

		.video-btn-s2 {
			display: inline-block;
			width: 55px;
			height: 55px;
			line-height: 61px;
			text-align: center;
			background: #02a0ff;
			border-radius: 50%;
			position: relative;


			&:before {
				position: absolute;
				left: -8px;
				top: -8px;
				width: 130%;
				height: 130%;
				content: "";
				border-radius: 50%;
				z-index: -1;
				border: 1px solid $white;
			}



			i {
				font-size: 18px;
				color: $white;
			}

		}
	}


	.shape-71 {
		position: absolute;
		left: 0;
		bottom: 0;

		@media (max-width:1399px) {
			left: -100px;
			bottom: -100px;
		}

		@media (max-width:767px) {
			display: none;
		}
	}

	.shape-72 {
		position: absolute;
		top: 0;
		right: 0;

		@media (max-width:1399px) {
			right: -100px;
			top: -100px;
		}

		@media (max-width:767px) {
			display: none;
		}
	}

	.shape-73 {
		position: absolute;
		right: 20%;
		bottom: 0;

		@media (max-width:1199px) {
			width: 150px;
			right: 10%;
		}

		@media (max-width:767px) {
			display: none;
		}
	}
}