/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*3.1 qrest-hero-slider*/

// .qrest-hero-slider,
// .static-hero,
// .qrest-hero-slider-s2 {
// 	width: 100%;
// 	height: 900px;
// 	display: flex;
// 	position: relative;
// 	z-index: 0;

// 	@include media-query(991px) {
// 		height: 600px;
// 	}

// 	@include media-query(767px) {
// 		height: 500px;
// 	}

// 	.swiper-slide {
// 		overflow: hidden;
// 	}

// 	.swiper-container,
// 	.hero-container {
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 	}

// 	.slide-inner,
// 	.hero-inner {
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		z-index: 1;
// 		background-size: cover;
// 		background-position: center;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: left;

// 		&:before{
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			width: 100%;
// 			height: 100%;
// 			background: #040128;
// 			content: "";
// 			opacity: .6;
// 		}

// 		.slide-content{
// 			padding-bottom: 85px;
// 			padding-left: 240px;

// 			@media(max-width:1700px){
// 				padding-left: 140px;
// 			}
// 			@media(max-width:991px){
//               padding-bottom: 0;
// 			  padding-left: 30px;
// 			}
// 			@media(max-width:767px){
// 			  padding-left: 10px;
// 			}
// 		}
// 	}

// 	// slider controls
// 	.swiper-button-prev,
// 	.swiper-button-next {
// 		background: transparentize($white, 0.8);
// 		width: 60px;
// 		height: 60px;
// 		line-height: 60px;
// 		border: 2px solid $white;
// 		border-radius: 50%;
// 		opacity: 0.7;
// 		text-align: center;
// 		@include transition-time(0.3s);

// 		&:hover {
// 			opacity: 0.9;
// 		}

// 		@include media-query(767px) {
// 			display: none;
// 		}
// 	} 

// 	.swiper-button-prev {
// 		left: 25px;

// 		&:before {
// 			font-family: "themify";
// 			content: "\e629";
// 		    font-size: 20px;
// 		    color: #fff;
// 		}
// 	}

// 	.swiper-button-next {
// 		right: 25px;

// 		&:before {
// 			font-family: "themify";
// 			content: "\e628";
// 		    font-size: 20px;
// 		    color: #fff;
// 		}
// 	}

// 	.swiper-button-prev,
// 	.swiper-button-next {
// 		@include media-query(991px) {
// 			display: none;
// 		}
// 	}

// 	.swiper-pagination-bullet {
// 		width: 12px;
// 		height: 12px;
// 		text-align: center;
// 		line-height: 12px;
// 		font-size: 12px;
// 		color:#000;
// 		opacity: 1;
// 		background: rgba(255,255,255,0.2);

// 		@include widther(992px) {
// 			display: none;
// 		}
// 	}

// 	.swiper-pagination-bullet-active {
// 		color:#fff;
// 		background: $white;
// 		width: 12px;
// 		height: 12px;
// 		text-align: center;
// 		line-height: 12px;
// 	}

// 	.swiper-container-horizontal>.swiper-pagination-bullets, 
// 	.swiper-pagination-custom, .swiper-pagination-fraction {
// 		bottom: 30px;
// 	}

// 	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
// 	    margin: 0 8px;
// 	}
// }


// .qrest-hero-slider,
// .static-hero,
// .qrest-hero-slider-s2{

// 	@include media-query(1199px) {
// 		height: 680px;
// 	}

// 	@include media-query(991px) {
// 		height: 600px;
// 	}

// 	@include media-query(767px) {
// 		height: 500px;
// 	}


// 	.gradient-overlay {
// 		@include linear-gradient-bg(left, $dark-gray 45%, transparent 65%);
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		z-index: 10;
// 		opacity: .6;
// 	}

// 	.gradient-overlay + .container {
// 		position: relative;
// 		z-index: 11;
// 	}

// 	.swiper-slide {
// 		position: relative;
// 		z-index: 11;
// 	}

// 	.qrest-hero-title-top{
// 		span{
// 			font-size: 22px;
// 			color: #e4e4e4;
// 			font-family: $heading-font;

// 			@include media-query(767px) {
// 				font-size: 15px;
// 			}

// 		}
// 	}

// 	.slide-title {
// 		max-width: 712px;

// 		@include media-query(1199px) {
// 			max-width: 555px;
// 		}


// 		h2 {
// 			font-size: 70px;
// 			font-weight: 900;
// 			line-height: 90px;
// 			margin:10px 0 15px;
// 			color: $white;

// 			@include media-query(1199px) {
// 				font-size: 50px;
// 				font-size: calc-rem-value(50);
// 			}

// 			@include media-query(991px) {
// 				font-size: 40px;
// 				font-size: calc-rem-value(40);
// 				line-height: 55px;
// 			}

// 			@include media-query(767px) {
// 				font-size: 30px;
// 				font-size: calc-rem-value(30);
// 				line-height: 36px;
// 			}
// 		}
// 	}

// 	.slide-text {
// 		max-width: 680px;

// 		@include media-query(767px) {
// 			max-width: 500px;
// 		}

// 		p {
// 			font-size: 22px;
// 			color: $white;
// 			line-height: 35px;
// 			max-width: 680px;
// 			margin-bottom: 40px;
// 			color: #e2e2e2;

// 			@include media-query(991px) {
// 				font-size: 18px;
// 				font-size: calc-rem-value(18);
// 			}

// 			@include media-query(767px) {
// 				font-size: 16px;
// 				font-size: calc-rem-value(16);
// 				line-height: 22px;
// 				margin-bottom: 30px;
// 			}
// 		}		
// 	}


// 	.slide-btns {
// 		@include media-query(991px) {
// 			max-width: 400px;
// 		}

// 		.theme-btn{
// 			border-radius: 0;
// 			color: $dark-gray;
// 			font-weight: 600;
// 			font-size: 18px;

// 			&:after{
// 				border-radius: 0;
// 			}
// 		}
// 	}


// 	.slide-btns .hero-video-btn {
// 		margin-left: 40px;

// 		@include media-query(767px) {
// 			margin-left: 20px;
// 		}
// 	}
// }


// .qrest-hero-slider-s2{

// 	height: 1000px;

// 	@include media-query(1199px) {
// 		height: 680px;
// 	}

// 	@include media-query(991px) {
// 		height: 600px;
// 	}

// 	@include media-query(767px) {
// 		height: 500px;
// 	}

// 	.hero-inner,
// 	.slide-inner{
// 		.slide-content {
// 	       padding-bottom: 0;
// 		   padding-top: 40px;
// 		}
// 	}

// }



/*-------------------------------------------
	hero style 1
--------------------------------------------*/
.static-hero,
.static-hero-style-2,
.static-hero-style-3,
.static-hero-style-4 {
	height: 990px;
	display: flex;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-top: -95px;
	background: url(../images/slider/slide-1.jpg);

	@include media-query(1199px) {
		height: 800px;
	}

	@include media-query(991px) {
		height: 600px;
	}



	.background-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
		}
	}

	.single-img {
		position: absolute;
		left: 57%;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		@media (max-width:1399px) {
			left: 50%;
			top: 15%;
		}

		@media (max-width:991px) {
			display: none;
		}
	}

	.shape-10 {
		position: absolute;
		left: 0;
		top: 120px;
		z-index: -1;

		@media (max-width:1199px) {
			display: none;
		}

	}

	.shape-11 {
		position: absolute;
		left: 79px;
		top: 88%;
		z-index: -1;

		@media (max-width:1399px) {
			display: none;
		}
	}

	.shape-12 {
		position: absolute;
		left: 50%;
		top: 90px;
		z-index: -1;

	}

	.hero-inner .container {
		position: relative;

	}

	.hero-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
	}

	.text {
		@media (max-width:991px) {
			margin-top: 70px;
		}

		@media (max-width:767px) {
			margin-top: 90px;
		}

		.sub-title {
			font-size: 19px;
			font-family: $heading-font;
			color: $theme-primary-color;
			text-transform: uppercase;
			border: 1px solid $theme-primary-color;
			border-radius: 50px;
			padding: 10px 20px;
			font-weight: 500;
		}

		.title {
			font-size: 70px;
			font-family: $base-font;
			color: $heading-color;
			font-weight: 700;
			margin-top: 24px;
			margin-bottom: 15px;

			@media (max-width:1399px) {
				font-size: 60px;
			}

			@media (max-width:1399px) {
				font-size: 40px;
			}
		}

		p {
			font-size: 17px;
			font-family: $heading-font;
			color: #636363;
			font-weight: 400;

			@media (max-width:991px) {
				font-size: 15px;
			}
		}
	}

	.hero-botom {
		display: flex;
		align-items: center;
		margin-top: 50px;
	}

	.video-item {
		display: inline-block;
	}

	.video-btn {
		display: inline-block;
		width: 55px;
		height: 55px;
		line-height: 61px;
		text-align: center;
		background: $theme-primary-color-s2;
		border-radius: 50%;
		margin-left: 45px;
		position: relative;


		&:before {
			position: absolute;
			left: -10px;
			top: -10px;
			width: 140%;
			height: 140%;
			background: rgb(59, 81, 125);
			content: "";
			border-radius: 50%;
			z-index: -1;
			-webkit-animation: spineer 2s infinite;
			animation: spineer 2s infinite;
		}

		i {
			font-size: 18px;
			color: $white;
		}
	}

	.side-text-logo {
		top: 130px;
		right: -30px;

		@media (max-width:1699px) {
			top: 172px;
			right: -140px;
		}

		@media (max-width:1399px) {
			top: 172px;
			right: -72px;
		}

		h2 {
			-webkit-text-stroke-color: #c3c7ca;

			@media (max-width:1399px) {
				font-size: 100px;
			}
		}
	}


}

@-webkit-keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}

@keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}


/* static-hero-style-2 */
.static-hero-style-2 {
	background-color: rgb(226, 246, 253);
	background-image: none;
	margin-top: 0;
	height: 800px;

	@media (max-width:1399px) {
		height: 650px;
	}

	.text {
		border-radius: 30px;
		background-color: rgb(255, 255, 255);
		padding-top: 80px;
		padding-left: 50px;
		padding-bottom: 80px;
		padding-right: 60px;
		position: relative;
		left: -100px;

		@media (max-width:1499px) {
			left: -40px;
		}

		@media (max-width:1399px) {
			left: 0px;
		}

		@media (max-width:991px) {
			margin-top: 0;
		}

		@media (max-width:767px) {
			padding: 50px;
		}

		.sub-title {
			font-size: 22px;
			font-family: $heading-font;
			color: $theme-primary-color;
			text-decoration: underline;
			border: transparent;
			text-transform: capitalize;
			font-weight: 700;
			padding: 0;
		}


		.title {

			span {
				color: $theme-primary-color;
			}
		}

		p {
			padding-right: 150px;

			@media (max-width:767px) {
				padding-right: 0;
			}
		}

		.theme-btn-s2 {
			@media (max-width:767px) {
				padding: 15px 22px;
				padding-right: 95px;
			}

			&::after {
				@media (max-width:767px) {
					font-size: 20px;
					line-height: 40px;
				}
			}
		}

		.shape {
			position: absolute;
			right: 20px;
			bottom: 0;

			@media (max-width:767px) {
				display: none;
			}
		}
	}


	.single-img {
		position: absolute;
		left: 53%;
		top: 0;
		width: 876px;
		height: 100%;
		z-index: -1;

		@media (max-width:1599px) {
			left: 50%;
		}

		@media (max-width:1499px) {
			width: 800px;
			top: 8%;
		}

		@media (max-width:1399px) {
			width: 700px;
			top: 2%;
		}


		@media (max-width:991px) {
			display: none;
		}

		img {
			width: 100%;
			object-fit: cover;
		}

	}


}

/* static-hero-style-3 */
.static-hero-style-3,
.static-hero-style-4 {
	height: 1030px;
	z-index: 1;
	background: transparent;
	top: -60px;
	left: 0;
	width: 100%;

	@media (max-width:1399px) {
		height: 900px;
	}

	@media (max-width:991px) {
		height: 800px;
		top: -96px;
	}

	@media (max-width:767px) {
		height: 650px;
		top: -132px;
	}

	.overly {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgb(26, 30, 42);
		border-bottom-right-radius: 602px 400px;
		z-index: -1;

		@media (max-width:1799px) {
			border-bottom-right-radius: 267px 320px;
		}

		@media (max-width:1679px) {
			border-bottom-right-radius: 200px 220px;
		}

		@media (max-width:1199px) {
			border-bottom-right-radius: 0;
		}
	}

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgb(26, 30, 42);
		opacity: 0.439;
		z-index: -11;
		border-bottom-right-radius: 535px 320px;
	}

	&::after {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgb(26, 30, 42);
		opacity: 0.722;
		z-index: -11;
		border-bottom-right-radius: 560px 355px;
	}

	.shape {
		width: 240px;
		height: 510px;
		position: absolute;
		left: -10px;
		top: 50%;
		transform: translateY(-50%);

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			background: #242733;
			border-radius: 12px;
			z-index: -1;
		}

		&::after {
			position: absolute;
			left: 0;
			top: 50%;
			content: "";
			width: 180px;
			height: 430px;
			background: #272b37;
			border-radius: 12px;
			z-index: -1;
			transform: translateY(-50%);
		}
	}


	.text {
		@media (max-width:757px) {
			margin-top: 150px;
		}

		.sub-title {
			color: $white;
			border: transparent;
			padding: 0;
			border-radius: 0;
			font-size: 65px;
			font-family: $heading-font;
			font-weight: 700;
			text-transform: capitalize;
			margin: 0;

			@media (max-width:767px) {
				font-size: 40px;
			}

			@media (max-width:575px) {
				font-size: 30px;
			}
		}

		.title {
			margin: 0;
			font-size: 147px;
			font-family: $heading-font;
			font-weight: 700;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $theme-primary-color-s3;
			margin-top: -35px;
			margin-bottom: 30px;

			@media (max-width:991px) {
				font-size: 130px;
			}

			@media (max-width:767px) {
				font-size: 100px;
				margin-top: 0;
			}

			@media (max-width:575px) {
				font-size: 70px;
			}
		}

		p {
			color: $white;
		}

	}

	.hero-botom {


		.video-item {

			.video-btn-s2 {
				display: inline-block;
				width: 55px;
				height: 55px;
				line-height: 61px;
				text-align: center;
				background: $theme-primary-color-s3;
				border-radius: 50%;
				position: relative;


				&:before {
					position: absolute;
					left: -8px;
					top: -8px;
					width: 130%;
					height: 130%;
					content: "";
					border-radius: 50%;
					z-index: -1;
					border: 1px solid $theme-primary-color-s3;
				}

				&::after {
					position: absolute;
					left: -12px;
					top: -13px;
					width: 145%;
					height: 145%;
					content: "";
					border-radius: 50%;
					z-index: -1;
					border: 1px solid $theme-primary-color-s3;
				}

				i {
					font-size: 18px;
					color: $white;
				}

			}
		}

		span {
			font-size: 18px;
			color: $white;
			text-decoration: underline;
			margin-left: 50px;
		}
	}

	.single-img {
		width: 600px;
		height: 850px;
		position: absolute;
		right: 0;
		top: 19%;
		overflow: hidden;

		@media (max-width:1399px) {
			width: 500px;
			height: 700px;
			top: 28%;
		}

		img {
			width: 100%;
		}

		&::before {
			position: absolute;
			left: 50%;
			bottom: 101px;
			content: "";
			width: 570px;
			height: 400px;
			background: #242733;
			z-index: -1;
			transform: translateX(-50%);
			clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
		}


	}

	.side-text-logo {
		top: 262px;
		right: -30px;

		h2 {
			-webkit-text-stroke-color: #434444;
		}
	}
}

/* static-hero-style-4 */
.static-hero-style-4 {
	background-color: rgb(36, 37, 42);
	height: 900px;
	top: 0;
	@media (max-width:991px) {
		height: 600px;
		top: 0;
		margin-top: -101px;
	}
	@media (max-width:767px) {
		height: 500px;
	}
	@media (max-width:575px) {
		height: 550px;
	}
	&::before {
		display: none;
	}

	&::after {
		display: none;
	}

	.text {
		margin-top: 150px;
		@media (max-width:991px) {
			margin-top: 80px;
		}
		@media (max-width:767px) {
			margin-top: 50px;
		}
		@media (max-width:575px) {
		
		}
		h2 {
			font-size: 56px;
			font-family: $heading-font;
			color: $white;
			font-weight: 700;
			@media (max-width:1199px) {
				font-size: 40px;
			}
			@media (max-width:767px) {
				font-size: 30px;
			}
			
		}

	}

	ul {
		list-style: none;
		margin-bottom: 40px;

		li {
			padding-left: 30px;
			position: relative;
			font-size: 17px;
			font-family: $heading-font;
			line-height: 1.588;
			color: $white;

			&::before {
				content: "\eed8";
				font-family: IcoFont !important;
				width: 20px;
				height: 20px;
				top: 3px;
				line-height: 22px;
				border-radius: 100%;
				color: $white;
				text-align: center;
				background: $theme-primary-color-s4;
				left: 0;
				position: absolute;
			}

		}
	}

	.theme-btn {
		background: $theme-primary-color-s4;
		padding: 15px 30px;

		&:hover {
			background: darken($theme-primary-color-s4, 8%);
		}


		@media (max-width:991px) {
			font-size: 15px;
		}
	}

	.image-s4 {
		position: absolute;
		right: 15%;
		bottom: 20px;
		width: 500px;
		z-index: 1;

		@media (max-width:1799px) {
			right: 12%;
		}

		@media (max-width:1699px) {
			right: 8%;
		}
		@media (max-width:1399px) {
			right: 0;
		}
		@media (max-width:991px) {
			display: none;
		}
		.shape-4 {
			width: 400px;
			height: 400px;
			background: #eef0f4;
			border-radius: 50%;
			position: absolute;
			top: -50px;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}
	}

	.shape-41 {
		position: absolute;
		left: -200px;
		top: 200px;
		width: 150px;
		z-index: -1;

		@media (max-width:1799px) {
			left: -150px;
		}
		@media (max-width:1499px) {
			display: none;
		}
	}

	.shape-img {
		position: absolute;
		right: 0;
		top: 0;
	}

	.shape-43 {
		position: absolute;
		left: -100px;
		top: -100px;

		@media (max-width:1599px) {
			left: -150px;
			top: -150px;
		}
		@media (max-width:1199px) {
			display: none;
		}
	}

	.shape-44 {
		position: absolute;
		bottom: -200px;
		left: -300px;
	}
}